<template>
  <div>
    <header>
      <div class="mobile-fix-option"></div>
      <TopBar :hotline="headerHotline"/>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="main-menu">
              <div class="menu-left">
                <div class="brand-logo">
                  <nuxt-link :to="{ path: '/'}">
                    <img :src='"@/assets/images/VIL_Logo_2.png"' class="vil-brand-img img-fluid" alt />
                  </nuxt-link>
                </div>
              </div>
              <div class="menu-right pull-right">
                  <Nav/>
                  <HeaderWidgets/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<style lang="scss" scoped>
.vil-brand-img {
  width: 85%;
  height: auto;
}
</style>

<script>
import TopBar from '../widgets/topbar'
import Nav from '../widgets/navbar'
import HeaderWidgets from '../widgets/header-widgets'
import { mapState, mapGetters } from 'vuex'

export default {
  async asyncData({store}) {
    await store.dispatch('shop/fetchShopContact')
  },
  components: {
    TopBar,
    Nav,
    HeaderWidgets
  },
  computed: {
    ...mapGetters({
      headerHotline: 'shop/getHeaderHotline'
    })
  },
  methods: {
    left_sidebar() {
      this.leftSidebarVal = true
    },
    closeBarValFromChild(val) {
      this.leftSidebarVal = val
    }
  }
}
</script>
