<template>
<div>
    <div class="row">
        <div class="col-xl-12">
            <div class="filter-main-btn" @click="filter = !filter">
                <span class="filter-btn btn btn-theme">
                    <i class="fa fa-filter" aria-hidden="true"></i> Filters
                </span>
            </div>
        </div>
    </div>
    <div class="collection-filter" :class="{ 'openFilterbar' : filter }">
        <!-- side-bar colleps block stat -->
        <div class="collection-filter-block">
            <!-- brand filter start -->
            <div class="collection-collapse-block open" v-if="zones.length">
                <h3 class="collapse-block-title" v-b-toggle.zones>Zones</h3>
                <b-collapse id="zones" visible accordion="myaccordion" role="tabpanel">
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <div class="custom-control custom-checkbox collection-filter-checkbox" v-for="(zone, index) in zones" :key="index">
                                <input type="checkbox" class="custom-control-input" :value="zone" :id="zone.name" v-model="applyZoneFilter" @change="appliedZoneFilter(zone.name)" />
                                <label class="custom-control-label" v-bind:for="zone.name">{{zone.name}}</label>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
            <div class="collection-collapse-block open" v-if="areas.length">
                <h3 class="collapse-block-title" v-b-toggle.areas>Areas</h3>
                <b-collapse id="areas" visible accordion="myaccordion0" role="tabpanel">
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <div class="custom-control custom-checkbox collection-filter-checkbox" v-for="(area, index) in areas" :key="index">
                                <input type="checkbox" class="custom-control-input" :value="area" :id="area.name" v-model="applyAreaFilter" @change="appliedAreaFilter(area.name)" />
                                <label class="custom-control-label" v-bind:for="area.name">{{area.name}}</label>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
            <div class="collection-collapse-block open" v-if="types.length">
                <h3 class="collapse-block-title" v-b-toggle.types>Inventory Type</h3>
                <b-collapse id="types" visible accordion="myaccordion1" role="tabpanel">
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <div class="custom-control custom-checkbox collection-filter-checkbox" v-for="(type,index) in types" :key="index">
                                <input type="checkbox" class="custom-control-input" :value="type" :id="type.name" v-model="applyTypeFilter" @change="appliedTypeFilter(type.name)" />
                                <label class="custom-control-label" v-bind:for="type.name">{{type.name}}</label>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
            <div class="collection-collapse-block open" v-if="companies.length">
                <h3 class="collapse-block-title" v-b-toggle.companies>Brands</h3>
                <b-collapse id="companies" visible accordion="myaccordion2" role="tabpanel">
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <div class="custom-control custom-checkbox collection-filter-checkbox" v-for="(company,index) in companies" :key="index">
                                <input type="checkbox" class="custom-control-input" :value="company" :id="company.brand" v-model="applyCompanyFilter" @change="appliedCompanyFilter(company.brand)" />
                                <label class="custom-control-label" v-bind:for="company.brand">{{company.brand}}</label>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
            <div class="collection-collapse-block open" v-if="pclasses.length">
                <h3 class="collapse-block-title" v-b-toggle.classes>Classes</h3>
                <b-collapse id="classes" visible accordion="myaccordion3" role="tabpanel">
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <div class="custom-control custom-checkbox collection-filter-checkbox" v-for="(pclass, index) in pclasses" :key="index">
                                <input type="checkbox" class="custom-control-input" :value="pclass" :id="pclass.name" v-model="applyClassFilter" @change="appliedClassFilter(pclass.name)" />
                                <label class="custom-control-label" v-bind:for="pclass.name">{{pclass.name}}</label>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
            <div class="collection-collapse-block open" v-if="sizes.length">
                <h3 class="collapse-block-title" v-b-toggle.sizes>Sizes</h3>
                <b-collapse id="sizes" visible accordion="myaccordion4" role="tabpanel">
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <div class="custom-control custom-checkbox collection-filter-checkbox" v-for="(size, index) in sizes" :key="index">
                                <input type="checkbox" class="custom-control-input" :value="size" :id="size.name" v-model="applySizeFilter" @change="appliedSizeFilter(size.name)" />
                                <label class="custom-control-label" v-bind:for="size.name">{{size.name}}</label>
                            </div>
                        </div>
                    </div>
                </b-collapse>
            </div>
        </div>
        <!-- side-bar single product slider start -->
        <!-- <div class="theme-card">
            <h5 class="title-border">new products</h5>
            <div class="offer-slider slide-1">
                <div v-swiper:mySwiper="swiperOption">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <div class="media" v-for="(product,index) in getCategoryProduct('new products').splice(0,3)" :key="index">
                                    <nuxt-link :to="{ path: '/product/sidebar/'+product.id}">
                                        <img class="img-fluid" :src="getImgUrl(product.images[0].src)" alt>
                                    </nuxt-link>
                                    <div class="media-body align-self-center">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <nuxt-link :to="{ path: '/product/sidebar/'+product.id}">
                                            <h6>{{product.title}}</h6>
                                        </nuxt-link>
                                        <h4 v-if="product.sale">
                                            {{ discountedPrice(product) * currency.curr | currency(currency.symbol) }}
                                            <del>{{ product.price * currency.curr | currency(currency.symbol) }}</del>
                                        </h4>
                                        <h4 v-else>{{ product.price * currency.curr | currency(currency.symbol) }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" v-if="getCategoryProduct('new products').length >= 4">
                            <div>
                                <div class="media" v-for="(product, index) in getCategoryProduct('new products').splice(3,3)" :key="index">
                                    <nuxt-link :to="{ path: '/product/sidebar/'+product.id}">
                                        <img class="img-fluid" :src="getImgUrl(product.images[0].src)" alt>
                                    </nuxt-link>
                                    <div class="media-body align-self-center">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <nuxt-link :to="{ path: '/product/sidebar/'+product.id}">
                                            <h6>{{product.title}}</h6>
                                        </nuxt-link>
                                        <h4 v-if="product.sale">
                                            {{ discountedPrice(product) * currency.curr | currency(currency.symbol) }}
                                            <del>{{ product.price * currency.curr | currency(currency.symbol) }}</del>
                                        </h4>
                                        <h4 v-else>{{ product.price * currency.curr | currency(currency.symbol) }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev" slot="button-prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </div>
                    <div class="swiper-button-next" slot="button-next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- side-bar single product slider end -->
        <!-- side-bar banner start here -->
        <!-- <div class="collection-sidebar-banner">
            <a href="#">
                <img :src="bannerimagepath" class="img-fluid" />
            </a>
        </div> -->
        <!-- side-bar banner end here -->
    </div>
    <!-- silde-bar colleps block end here -->
</div>
</template>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
export default {
    data() {
        return {
            bannerimagepath: require('@/assets/images/side-banner.png'),
            value: [50, 550],
            selectedcolor: [],
            selectedbrand: [],
            selectedsize: [],
            applyFilter: [],
            applyAreaFilter: [],
            applyZoneFilter: [],
            applyTypeFilter: [],
            applyCompanyFilter: [],
            applyClassFilter: [],
            applySizeFilter: [],
            preFilterId: [],
            // activeItem: 'category',
            filter: false,
            swiperOption: {
                loop: false,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            }
        }
    },
    components: {
        VueSlider
    },
    computed: {
        ...mapState({
            productslist: state => state.products.productslist,
            currency: state => state.products.currency
        }),
        ...mapGetters({
            filterbyCategory: 'filter/filterbyCategory',
            filterbyBrand: 'filter/filterbyBrand',
            filterbycolor: 'filter/filterbycolor',
            filterbysize: 'filter/filterbysize',
            types: 'filters/getTypes',
            companies: 'filters/getCompanies',
            pclasses: 'filters/getClasses',
            sizes: 'filters/getSizes',
            areas: 'filters/getAreas',
            zones: 'filters/getZones',
        })
    },
    // created() {
    //     this.$nuxt.$on('filterWithBrand', (typeId) => {
    //         this.clearApplied()
    //         this.applyTypeFilter = []
    //         this.applyTypeFilter.push(typeId)
    //         this.$store.dispatch('filters/appliedTypesFilter', this.applyTypeFilter)
    //         this.$store.dispatch('filters/fetchProducts')
    //     })
    // },
    methods: {
        clearApplied() {
            this.applyAreaFilter = []
            this.applyZoneFilter = []
            this.applyTypeFilter = []
            this.applyCompanyFilter = []
            this.applyClassFilter = []
            this.applySizeFilter = []
        },
        async fetchProducts() {
            this.$nuxt.$loading.start()
            await this.$store.dispatch('filters/fetchProducts')
            this.$nuxt.$loading.finish()
        },
        async appliedAreaFilter() {
            this.$store.dispatch('filters/appliedAreasFilter', this.applyAreaFilter)
            await this.fetchProducts()
        },
        async appliedZoneFilter() {
            this.$store.dispatch('filters/appliedZonesFilter', this.applyZoneFilter)
            await this.fetchProducts()
        },
        async appliedTypeFilter() {
            this.$store.dispatch('filters/appliedTypesFilter', this.applyTypeFilter)
            await this.fetchProducts()
        },
        async appliedCompanyFilter() {
            this.$store.dispatch('filters/appliedCompaniesFilter', this.applyCompanyFilter)
            await this.fetchProducts()
        },
        async appliedClassFilter() {
            this.$store.dispatch('filters/appliedClassesFilter', this.applyClassFilter)
            await this.fetchProducts()
        },
        async appliedSizeFilter() {
            this.$store.dispatch('filters/appliedSizesFilter', this.applySizeFilter)
            await this.fetchProducts()
        },
        sliderChange(event) {
            this.$emit('priceVal', event)
        },
        toggleSidebarBlock() {
            this.openBlock = !this.openBlock
        },
    }
}
</script>
