<template>
  <div>
    <b-modal
      id="modal-lg"
      size="lg"
      centered
      title="Quickview"
      :hide-footer="true"
      v-if="openModal"
    >
      <div class="row quickview-modal">
        <div class="col-lg-6 col-xs-12">
          <div class="quick-view-img">
            <div v-swiper:mySwiper="swiperOption">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    :src="productData.image"
                    :id="productData.id"
                    class="img-fluid bg-img"
                    :alt="productData.name"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 rtl-text">
          <div class="product-right">
            <h2>{{productData.name}}</h2>
            <!-- <h3 v-if="productData.sale">
              {{ discountedPrice(productData) * curr.curr | currency(curr.symbol) }}
        <del>{{ productData.price * curr.curr | currency(curr.symbol) }}</del>
            </h3> -->
            <h3>৳ {{ productData.unit_price }}</h3>
            <!-- <ul class="color-variant" v-if="productData.variants[0].color">
              <li v-for="(variant,variantIndex) in Color(productData.variants)" :key="variantIndex">
                <a
                  :class="[variant]"
                  v-bind:style="{ 'background-color' : variant}"
                ></a>
              </li>
            </ul> -->
            <!-- <div class="product-description border-product" v-if="productData.variants[0].size">
              <h6 class="product-title">select size</h6>
              <div class="size-box">
                <ul>
                  <li v-for="(variant,variantIndex) in Size(productData.variants)" :key="variantIndex">
                    <a href="javascript:void(0)">{{variant}}</a>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="border-product">
              <h6 class="product-title">product details</h6>
              <p> Class : {{productData.product_class}}</p>
              <p> Size : {{productData.size}}</p>
            </div>
            <!-- <a href="javascript:void(0)" @click="redirectToShopForProductType(productData)" class="btn btn-solid">Shop Now</a> -->
            <!-- <div class="product-buttons"> -->
            <nuxt-link :to="{ path: '/shop/vending-machines/', query: { pr_class: productData.product_class_id, pr_size: productData.size_id, pr_brand: productData.product_brand_id }}" class="btn btn-solid">shop now</nuxt-link>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<style lang="scss" scoped>
// .product-buttons {
//   margin-left: 0px;
//   text-align: left;
// }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
  props: ['openModal', 'productData'],
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 20,
        freeMode: true
      }
    }
  },
  // computed: {
  //   ...mapGetters({
  //     curr: 'products/changeCurrency'
  //   })
  // },
  methods: {
    // redirectToShopForProductType(product) {
    //   // this.$bvModal.hide('modal-lg')
    //   this.$router.replace('/shop/vending-machines/')
    //   this.$nuxt.$emit('redirectWithBrand', product.id)
    // }
  }
}
</script>
