<template>
  <div class="top-header pt-2 pb-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact">
            <ul>
              <li>Welcome to Vertical Innovations</li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>Call Us: {{ hotline }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <ul class="header-dropdown">
            <li class="d-none d-lg-inline d-md-inline">
              <nuxt-link :to="{ path: '/contact/', hash: 'ratingshare' }" v-scroll-to="{el: '#ratingshare'}" class="col-lg-8 col-md-10 col-sm-12">
                  <b-form-rating :value="avg_rating" readonly no-border size="sm" color="#ec3850" inline></b-form-rating>
              </nuxt-link>
            </li>
            <li class="mobile-wishlist">
              <a @click="likeAction">
                <i class="fa fa-heart" aria-hidden="true"></i>
                {{ likeText }}
              </a>
            </li>
            <li class="onhover-dropdown mobile-account">
              <i class="fa fa-user" aria-hidden="true"></i> My Account
              <ul class="onhover-show-div">
                <li v-if="isLoggedIn">
                  <nuxt-link :to="{ path: '/users/dashboard' }">Dashboard</nuxt-link>
                </li>
                <hr v-if="isLoggedIn">
                <li v-if="isLoggedIn">
                  <nuxt-link :to="{ path: '/users/cart/dispenses' }">My Dispenses</nuxt-link>
                </li>
                <hr v-if="isLoggedIn">
                <li v-if="isLoggedIn">
                  <nuxt-link :to="{ path: '/users/profile' }">Update Profile</nuxt-link>
                </li>
                <hr v-if="isLoggedIn">
                <li v-if="isLoggedIn">
                  <nuxt-link :to="{ path: '/users/change-password' }">Change Password</nuxt-link>
                </li>
                <hr v-if="isLoggedIn">
                <li>
                  <a v-if="isLoggedIn" @click="logout"> Logout </a>
                  <nuxt-link v-if="!isLoggedIn" :to="{ path: '/users/login' }">Login / Register</nuxt-link>
                </li>
                <!-- <li v-if="!isLoggedIn">
                  <nuxt-link :to="{ path: '/users/forget-password' }">Forgot Password</nuxt-link>
                </li> -->
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.onhover-show-div {
  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
</style>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  props: ['hotline'],
  computed: {
    ...mapState({
      isLoggedIn: state => state.user.isLoggedIn,
      liked: state => state.user.liked,
      avg_rating: state => state.shop.avg_rating,
    }),
    likeText() {
      return this.liked ? 'Liked!' : 'Like Us!'
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('user/logoutUser')
      this.$router.replace('/users/login')
    },
    async likeAction() {
      if(this.isLoggedIn) {
        console.log('Like Submitted', !this.liked)
        await this.updateLikeOnServer(!this.liked)
      } else {
        this.$router.replace('/users/login')
      }
    },
    async updateLikeOnServer(likeState) {
      try {
        await this.$store.dispatch('user/updateLiked', {
          liked: likeState
        })
      } catch (error) {
        console.log("Top Bar Component", error)
      }
    }
  }
}
</script>
