<template>
<div>
    <!-- section start -->
    <section>
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="d-none d-md-block d-lg-block col-lg-1 col-sm-2 col-xs-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div v-swiper:mySwiper1="swiperOption1" ref="mySwiper1">
                                    <div class="swiper-wrapper slider-right-nav">
                                        <div class="swiper-slide" v-for="(type,index) in types" :key="index">
                                            <img :src="type.image" :id="type.id" class="img-fluid bg-img" alt="type.name" @click="changeSizeVariant(type.id)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-10 col-xs-12 order-up">
                        <div v-swiper:mySwiper="swiperOption" ref="mySwiper">
                            <div class="swiper-wrapper" v-viewer>
                                <div class="swiper-slide" v-for="(type,index) in types" :key="index">
                                        <img :src="type.image" :id="type.id" class="img-fluid bg-img" :alt="type.name" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h1 class="mb-3">{{ sproduct.name }}</h1>
                            <h2>{{ selectedtype.name }}</h2>
                            <h3>৳ {{ selectedtype.unit_price }} <sup>/ {{ selectedtype.inventory_type_unit_title }}</sup></h3>
                            <div class="pro_inventory">
                                <p class="active" v-if="selectedtype.product_count < 5 && selectedtype.product_count !== 0"> Hurry! We have only <strong>{{ selectedtype.product_count }}</strong> {{ selectedtype.product_count === 1 ? selectedtype.inventory_type_unit_title : selectedtype.inventory_type_unit_title+'s' }} left for this brand.</p>
                                <p class="active" v-if="selectedtype.product_count >= 5">Available : {{ selectedtype.product_count }} {{ selectedtype.product_count === 1 ? selectedtype.inventory_type_unit_title : selectedtype.inventory_type_unit_title+'s' }}</p>
                                <p class="active" v-if="selectedtype.product_count === 0"> Sorry! We have temporarily run out of stock for this brand on this device. Select another product from below.</p>
                                <div class="inventory-scroll">
                                    <span v-bind:style="{ width: selectedtype.product_count > 0 ? stockSliderVal : '0%' }"></span>
                                </div>
                            </div>
                            <div class="product-description border-product">
                                <h6 class="product-title size-text text-center text-md-left">
                                    select product type
                                    <span class="d-none d-lg-flex d-md-flex">
                                        <a href="javascript:void(0)" v-b-modal.modal-brand-size-chart>size chart</a>
                                    </span>
                                </h6>
                                <b-dropdown id="types-dropdown" variant="outline-secondary" :text="selectedtype.name" class="m-ml-0 mt-2 mb-4">
                                    <b-dropdown-item v-for="type in types" :key="type.id" @click="changeSizeVariant(type.id)">{{ type.name }}</b-dropdown-item>
                                </b-dropdown>
                                <!-- <div class="size-box">
                                    <ul>
                                        <li class="product-title" v-bind:class="{ active: selectedtype.id === type.id }" v-for="type in types" :key="type.id">
                                            <a href="javascript:void(0)" @click="changeSizeVariant(type.id)">{{type.brand_idx}}</a>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- <h5 class="avalibility" v-if="selectedtype.product_count > 0">
                                    <span :style="{ color: 'green' }">Available</span>
                                </h5>
                                <h5 class="avalibility" v-else>
                                    <span>Not Available</span>
                                </h5> -->
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-left-minus" :disabled="selectedtype.product_count === 0" data-type="minus" data-field @click="decrement">
                                                <i class="ti-angle-left"></i>
                                            </button>
                                        </span>
                                        <input type="number" name="quantity" class="form-control input-number" :disabled="false" v-model="counter" />
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-right-plus" :disabled="selectedtype.product_count === 0" data-type="plus" data-field @click="increment(selectedtype.product_count)">
                                                <i class="ti-angle-right"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons ml-0" v-if="selectedtype.product_count !== 0">
                                <!-- <button class="btn btn-outline" title="Add to cart" @click="addToCart">Add To Cart</button> -->
                                <button class="btn btn-solid" title="Buy Product" @click="buyProduct">Buy Product</button>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">Location</h6>
                                <p>{{sproduct.address}}</p>
                                <p>{{sproduct.area_name}}, {{sproduct.zone_name}}</p>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">share with friends</h6>
                                <social-sharing :url="getHref" :title="sproduct.name + ' | Vertical Innovations'" :description="sproduct.address" :quote="sproduct.address" hashtags="vertical_innovations" inline-template>
                                    <div class="ml-0">
                                        <network network="facebook">
                                            <button class="btn"><i class="fa fa-facebook"></i></button>
                                        </network>
                                        <network network="twitter">
                                            <button class="btn"><i class="fa fa-twitter"></i></button>
                                        </network>
                                        <network network="whatsapp">
                                            <button class="btn"><i class="fa fa-whatsapp"></i></button>
                                        </network>
                                        <network network="linkedin">
                                            <button class="btn"><i class="fa fa-linkedin"></i></button>
                                        </network>
                                        <network network="skype">
                                            <button class="btn"><i class="fa fa-skype"></i></button>
                                        </network>
                                        <network network="pinterest">
                                            <button class="btn"><i class="fa fa-pinterest"></i></button>
                                        </network>
                                    </div>
                                </social-sharing>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tab-product m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 map mb-5">
                    <iframe :src="getEmbedMapSrc" allowfullscreen width="100%"></iframe>
                </div>
                <div class="col-sm-12 col-lg-12">
                    <b-tabs card>
                        <b-tab title="Product Inventory">
                            <b-card-text>
                                <div class="single-product-tables">
                                    <table class="col-lg-6 col-sm-12 table-adj">
                                        <thead>
                                            <th>Brand</th>
                                            <th>Class</th>
                                            <th>Size</th>
                                            <th>Available</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="type in sproduct.types" :key="type.id">
                                                <td>{{ type.name}}</td>
                                                <td>{{ type.product_class }}</td>
                                                <td>{{ type.size }}</td>
                                                <td>{{ type.product_count }} {{ type.product_count === 1 ? ' pc':' pcs' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </b-card-text>
                        </b-tab>
                        <b-tab title="Details">
                            <b-card-text>
                                <h6>{{sproduct.address}}</h6>
                                <h6>{{sproduct.area_name}}, {{sproduct.zone_name}}</h6>
                                <h6>Status : {{sproduct.active ? 'Active' : 'Not Active'}}</h6>
                                <h6 v-if="sproduct.area_discount !== null">Area Discount : {{ parseFloat(sproduct.area_discount.discount_rate) }}%</h6>
                            </b-card-text>
                        </b-tab>
                        <b-tab v-if="sproduct.yt_link" title="Video">
                            <b-card-text>
                                <div class="mt-3 text-center">
                                    <iframe class="ru-video" width="560" height="315" :src="getYoutubeLink" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </b-card-text>
                        </b-tab>
                    </b-tabs>
                </div>
            </div>
        </div>
    </section>
    <b-modal id="modal-brand-size-chart" hide-footer centered title="Brand Size Chart">
        <b-table borderless fixed :items="sizeChartItems"></b-table>
    </b-modal>
    <b-modal id="cart-mismatch-modal" centered button-size="sm" title="Oops!" @ok="clearCartAddProduct">
        <p class="my-4" v-if="cartRu">Seems like you went for <strong>{{ sproduct.name }}</strong>'s products while other items from <strong>{{ cartRu.name }}</strong> exists in your cart. Please remove the existing items from cart before adding new item from this device.</p>
        <template v-slot:modal-footer="{ ok }">
            <b-button class="btn btn-solid" size="sm" variant="danger" @click="ok">
                Clear Cart & Add This Product
            </b-button>
        </template>
    </b-modal>
    <!-- Section ends -->
    <!-- <relatedProduct :productTYpe="productTYpe" :productId="productId" /> -->
</div>
</template>

<style lang="scss" scoped>
sup {
    vertical-align: sub;
    font-size: 50%;
}

.table-adj {
    width: 100%
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
</style>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'
// import relatedProduct from '../../../components/widgets/related-products'
export default {
    async asyncData({
        route,
        store,
    }) {
        // console.log('slug', route.params.slug)
        if (route.params.slug) {
            const prdata = await store.dispatch('filters/fetchSingleProductFromTag', route.params.slug)
            return {
                sproduct: prdata
            }
        }
    },
    watch: {
        selectedtype() {
            if (this.selectedtype.product_count == 0)
                this.counter = 0
            else {
                this.counter = 1
            }
        }
    },
    data() {
        return {
            counter: 1,
            activeColor: '',
            selectedSize: '',
            qty: '',
            size: [],
            productTYpe: '',
            productId: '',
            swiperOption: {
                slidesPerView: 1,
                spaceBetween: 20,
                freeMode: false
            },
            swiperOption1: {
                effect: 'slide',
                slidesPerView: 3,
                spaceBetween: 30,
                freeMode: true,
                direction: 'vertical'
            },
            types: [],
            selectedtype: {},
        }
    },
    head() {
        return {
            title: this.sproduct.name + ' | ' + this.sproduct.address,
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: this.sproduct.tag
                }
            ]
        }
    },
    computed: {
        ...mapState({
            isLoggedIn: state => state.user.isLoggedIn,
        }),
        ...mapGetters({
            cartRu: 'productcart/getRu'
        }),
        typeId() {
            return this.selectedtype.id
        },
        swiper() {
            return this.$refs.mySwiper.swiper
        },
        getHref() {
            return window.location.href
        },
        getYoutubeLink() {
            return this.sproduct.yt_link.replace(/watch\?v=/, 'embed/')
        },
        stockSliderVal() {
            const per = (this.selectedtype.product_count / this.selectedtype.max_capacity) * 100
            return per + '%'
        },
        sizeChartItems() {
            return this.types.map(function (type) {
                return {
                    'id': type.brand_idx,
                    'brand': type.name,
                    'class': type.product_class,
                    'size': type.size
                }
            })
        },
        getEmbedMapSrc() {
            return 'https://maps.google.com/maps?q=' + this.sproduct.lat + ',' + this.sproduct.lon + '&t=&z=15&ie=UTF8&iwloc=&output=embed'
        }
    },
    async mounted() {
        this.types = this.sproduct.types
        this.selectedtype = this.types[0]

        this.$refs.mySwiper.swiper.handleClickSlide = (index, reallyIndex) => {
            console.log('Click slide!')
        }
    },
    methods: {
        addToCart() {
            if (this.counter === "") {
                this.$notify({
                    group: 'master',
                    type: 'warn',
                    title: 'Warning!',
                    text: 'Please enter a valid quantity before adding to cart'
                })
                return
            }
            if (parseInt(this.counter) === 0 || parseInt(this.counter) > this.selectedtype.product_count) {
                this.$notify({
                    group: 'master',
                    type: 'warn',
                    title: 'Warning!',
                    text: 'Please enter a valid quantity before adding to cart'
                })
            } else {
                if (this.cartRu) {
                    if (this.cartRu.tag !== this.sproduct.tag) {
                        this.$bvModal.show('cart-mismatch-modal')
                    } else {
                        this.addPrToCart()
                    }
                } else {
                    this.addPrToCart()
                }
            }
        },
        buyProduct() {
            this.addToCart()
            this.redirectToCart()
        },
        addPrToCart() {
            this.$store.dispatch('productcart/addCartItem', {
                ...this.selectedtype,
                quantity: this.counter,
                ru: this.sproduct
            })
            this.$notify({
                group: 'master',
                type: 'success',
                title: 'Product Added',
                text: 'Continue to shop or head to checkout!',
            })
            this.counter = 1
        },
        // Item Count
        increment(maxp) {
            this.counter = parseInt(this.counter)
            if (this.counter < maxp)
                this.counter += 1
        },
        decrement() {
            this.counter = parseInt(this.counter)
            if (this.counter > 1)
                this.counter -= 1
        },
        // Change size variant
        changeType(cvariant) {
            this.selectedtype = this.types[cvariant]
        },
        slideTo(id) {
            const [newType] = this.types.filter(function (type) {
                return type.id === id
            })
            const pos = this.types.indexOf(newType)
            this.swiper.slideTo(pos, 1000, false)
        },
        changeSizeVariant(id) {
            const [newType] = this.types.filter(function (type) {
                return type.id === id
            })
            const pos = this.types.indexOf(newType)
            this.swiper.slideTo(pos, 1000, false)
            this.selectedtype = newType
        },
        hideCMModal() {
            this.$bvModal.hide('cart-mismatch-modal')
        },
        clearCartAddProduct() {
            // console.log("hit to clear")
            this.$store.dispatch('productcart/clearCartItems')
            this.addPrToCart()
        },
        redirectToCart() {
            this.$router.push('/users/cart')
        },
    }
}
</script>
