<template>
<div>
    <HomeAdBanner v-if="homeAdBanner !== null" :home_ad="homeAdBanner" />
    <Slider :items="sliderItems" />
    <Collectionbanner v-if="inventoryItems.length" class="mt-5" :items="inventoryItems" />
    <ProductSlider class="mt-4" :products="topProducts" @openQuickview="showQuickview" />
    <VideoTut v-if="homeVideo !== null" :video="homeVideo" />
    <!-- <Services v-if="serviceItems.length" :items="serviceItems"/> -->
    <AvgRating :rating="avg_rating"></AvgRating>
    <Banner class="mt-4" :item="homeBanner" />
    <LogoSlider class="mt-5" :items="partnerItems" />
    <Blog class="mt-4" :blogs="topBlogs" />
    <quickviewModel :openModal="showquickviewmodel" :productData="quickviewproduct" />
    <!-- <newsletterModel /> -->
</div>
</template>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'

import quickviewModel from '../../components/widgets/quickview'
// import newsletterModel from '../../components/widgets/newsletter-popup'
import Slider from '../../components/shop/slider'
import LogoSlider from '../../components/shop/logo-slider'
import Collectionbanner from '../../components/shop/collection-banner'
import Banner from '../../components/shop/parallax-banner'
import ProductSlider from '../../components/shop/product-slider'
import Blog from '../../components/shop/blog'
// import Services from '../../components/shop/services'
import VideoTut from '../../components/shop/video-tutorial'
import HomeAdBanner from '../../components/shop/banner'
import AvgRating from '../../components/shop/average-rating'

export default {
    components: {
        Slider,
        LogoSlider,
        // Services,
        Collectionbanner,
        Banner,
        ProductSlider,
        Blog,
        quickviewModel,
        VideoTut,
        HomeAdBanner,
        AvgRating,
        // FeaturedBanner
        // newsletterModel
    },
    async beforeMount() {
        await this.$store.dispatch('shop/fetchHomeContent')
    },
    data() {
        return {
            products: [],
            category: [],
            showquickviewmodel: false,
            quickviewproduct: {},
            comapreproduct: {},
        }
    },
    head() {
        return {
            title: 'Shop | Vertical Innovations',
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Vertical Innovation Shop'
                }
            ]
        }
    },
    computed: {
        ...mapState({
            avg_rating: state => state.shop.avg_rating,
        }),
        ...mapGetters({
            homeAdBanner: 'shop/getHomeAdBanner',
            sliderItems: 'shop/getSliders',
            // serviceItems: 'shop/getServices',
            partnerItems: 'shop/getPartners',
            inventoryItems: 'shop/getInventoryTypes',
            homeVideo: 'shop/getHomeVideo',
            homeBanner: 'shop/getHomeBanner',
            topProducts: 'shop/getTopProducts',
            topBlogs: 'shop/getTopBlogs',
        })
    },
    methods: {
        showQuickview(item, productData) {
            this.showquickviewmodel = item
            this.quickviewproduct = productData
        }
    }
}
</script>
