<template>
<div>
    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <sidebar ref="sbar" />
                    </div>
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <!-- <a href="#">
                        <img
                          :src='"@/assets/images/ru-upper-banner.jpg"'
                          class="img-fluid"
                          alt
                        />
                      </a> -->
                                        <div class="top-banner-content small-section">
                                            <h2 class="mb-3">Vending Machines</h2>
                                            <p>All active vending machines are listed here. Filter through them and shop to your hearts content!</p>
                                        </div>
                                    </div>
                                    <div class="collection-product-wrapper">
                                        <div class="product-top-filter">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="product-filter-content">
                                                        <div class="search-count">
                                                            <a class="pull-left" :href="locLink" target="_blank" v-if="userLat && userLon">
                                                                <h5><i class="ti-map-alt"></i> {{ userLat + ', ' + userLon }}</h5>
                                                            </a>
                                                            <h5 v-else class="pull-left">Awaiting Location...</h5>
                                                            <a class="pull-right" @click="updateLocation">
                                                                <h5><i class="ti-reload"></i></h5>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper-grid" :class="{'list-view':listview == true}">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="text-center section-t-space section-b-space" v-if="sproducts.length == 0">
                                                        <div v-if="loadingItems">
                                                            <img :src='"@/assets/images/empty-compare.png"' class="img-fluid" alt />
                                                            <h3  class="mt-3">Loading Vending Machines...</h3>
                                                        </div>
                                                        <div v-else>
                                                            <img :src='"@/assets/images/empty-search.jpg"' class="img-fluid" alt />
                                                            <h3 class="mt-3">Sorry! Couldn't find Vending Machines!!!</h3>
                                                            <div class="col-12 mt-3">
                                                                <a @click="clearAllAndLoad" class="btn btn-solid">load all devices</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-grid-box col-sm-12" :class="{'col-lg-3 col-md-4 col-sm-6':col4 == true, 'col-lg-4 col-sm-6':col3 == true, 'col-sm-6':col2 == true, 'col-lg-2 col-md-4 col-sm-6':col6 == true, 'col-lg-12':listview == true}" v-for="(product,index) in sproducts" :key="index">
                                                    <div class="product-box">
                                                        <productBox1 @opencartmodel="false" @openquickview="showQuickview" @showalert="alert" @alertseconds="alert" :product="product" :index="index" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <b-alert :show="dismissCountDown" variant="success" @dismissed="dismissCountDown=0" @dismiss-count-down="alert">
        <p>Product Is successfully added to your wishlist.</p>
    </b-alert>
    <quickviewModel :openModal="showquickviewmodel" :productData="quickviewproduct" />
    <compareModel :openCompare="showcomparemodal" :productData="comapreproduct" @closeCompare="closeCompareModal" />
</div>
</template>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'
import productBox1 from '../../components/product-box/product-box1'
import sidebar from '../../components/widgets/collection-sidebar'
import quickviewModel from '../../components/widgets/quickview'
import compareModel from '../../components/widgets/compare-popup'
export default {
    components: {
        productBox1,
        sidebar,
        quickviewModel,
        compareModel,
    },
    data() {
        return {
            col2: false,
            col3: true,
            col4: false,
            col6: false,
            listview: false,
            priceArray: [],
            allfilters: [],
            items: [],
            current: 1,
            paginate: 12,
            paginateRange: 3,
            pages: [],
            paginates: '',
            showquickviewmodel: false,
            showcomparemodal: false,
            quickviewproduct: {},
            comapreproduct: {},
            cartproduct: {},
            dismissSecs: 5,
            dismissCountDown: 0,
            swiperOption: {
                loop: false,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            },
            loadingItems: false,
        }
    },
    head() {
        return {
            title: 'Shop | Vertical Innovations',
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Nearby Vending Machines'
                }
            ]
        }
    },
    computed: {
        ...mapGetters({
            sproducts: 'filters/getProducts',
            userLat: 'filters/getCurrentLat',
            userLon: 'filters/getCurrentLon'
        }),
        locLink() {
            if (this.userLat && this.userLon)
                return process.env.locationAPIBaseUrl + this.userLat + ',' + this.userLon
            return "#"
        },
    },
    async asyncData({
        store
    }) {
        // store.dispatch('filters/clearFilters')
        await store.dispatch('filters/fetchShopFilters')
        // await store.dispatch('filters/fetchProducts')
    },
    async mounted() {
        const queryParams = this.$route.query
        if (queryParams.hasOwnProperty('pr_class') && queryParams.hasOwnProperty('pr_brand') && queryParams.hasOwnProperty('pr_size')) {
            this.$store.dispatch('filters/appliedCompaniesFilter', [{
                id: parseInt(queryParams.pr_brand)
            }])
            this.$store.dispatch('filters/appliedClassesFilter', [{
                id: parseInt(queryParams.pr_class)
            }])
            this.$store.dispatch('filters/appliedSizesFilter', [{
                id: parseInt(queryParams.pr_size)
            }])
            this.sanitizeUrl()
        } else if (queryParams.hasOwnProperty('inventory')) {
            console.log("inv_type found : ", queryParams.inventory)
            this.$store.dispatch('filters/appliedTypesFilter', [{
                id: parseInt(queryParams.inventory)
            }])
            this.sanitizeUrl()
        } else {
            this.clearFilters()
        }
        await this.updateLocation()
    },
    methods: {
        sanitizeUrl() {
            window.history.pushState({}, document.title, window.location.pathname);
        },
        async updateLocation() {
            this.loadingItems = true
            const coordinates = await this.$getLocation({
                enableHighAccuracy: false, //defaults to false
                timeout: Infinity, //defaults to Infinity
                maximumAge: 0
            })
            // console.log(coordinates)
            this.$store.dispatch('filters/updateFilterLocation', coordinates)
            await this.$store.dispatch('filters/fetchProducts')
            this.loadingItems = false
        },
        clearFilters() {
            this.$refs.sbar.clearApplied()
            this.$store.dispatch('filters/clearFilters')
        },
        async clearAllAndLoad() {
            this.clearFilters()
            await this.updateLocation()
        },
        gridView() {
            this.col4 = true
            this.col2 = false
            this.col3 = false
            this.col6 = false
            this.listview = false
        },
        listView() {
            this.listview = true
            this.col4 = false
            this.col2 = false
            this.col3 = false
            this.col6 = false
        },
        grid2() {
            this.col2 = true
            this.col3 = false
            this.col4 = false
            this.col6 = false
            this.listview = false
        },
        grid3() {
            this.col3 = true
            this.col2 = false
            this.col4 = false
            this.col6 = false
            this.listview = false
        },
        grid4() {
            this.col4 = true
            this.col2 = false
            this.col3 = false
            this.col6 = false
            this.listview = false
        },
        grid6() {
            this.col6 = true
            this.col2 = false
            this.col3 = false
            this.col4 = false
            this.listview = false
        },
        alert(item) {
            this.dismissCountDown = item
        },
        showQuickview(item, productData) {
            this.showquickviewmodel = item
            this.quickviewproduct = productData
        },
        closeCompareModal(item) {
            this.showcomparemodal = item
        }
    }
}
</script>
