<template>
<div>
    <div class="d-flex justify-content-center mt-5 pt-5">
        <h3 v-if="addedToCart">Adding products to cart...</h3>
        <div class="justify-content-center" v-else>
            <h3 v-if="this.device.disabled === true">This device is disabled currently</h3>
            <div class="justify-content-center" v-else>
                <h3 v-if="this.device.active === false">This device is inactive currently.</h3>
                <h3 v-else>Loading device info...</h3>
            </div>
        </div>
    </div>
</div>
</template>
<style lang="scss" scoped>

</style>
<script>
import {
    mapState,
    mapGetters
} from 'vuex'

export default {
    data() {
        return {
            addedToCart: false,
        }
    },
    async asyncData({
        $axios,
        route,
    }) {
        if (route.params.slug) {
            try {
                const params = {
                    tag: route.params.slug
                }
                console.log('payload', params)
                const rudata = await $axios.get('/api/spa/remote-units/single/', {
                    params
                })
                console.log(rudata)
                return {
                    device: rudata['data']['device']
                }
            } catch (error) {
                console.log(error)
                return {
                    error: error
                }
            }
        } else {
            console.log("No slug!")
            return {
                error: "No slug!"
            }
        }
    },
    head() {
        return {
            title: 'VIL AutoCart | ' + 'RU-' + this.device.tag,
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Autoload Cart from QR for device <' + this.device.tag + '>'
                }
            ]
        }
    },
    beforeMount() {
        this.$store.dispatch('menu/switchLayoutMode')
    },
    mounted() {
        if (this.error) {
            this.$router.replace('/err')
        } else {
            if (this.device) {
                if (this.device.active && !this.device.disabled)
                    this.addProdToCartAndRedirect()
            }
        }
    },
    destroyed() {
        this.$store.dispatch('menu/switchLayoutMode')
    },
    computed: {
        ...mapGetters({
            cartRu: 'productcart/getRu',
        }),
    },
    methods: {
        clearCartAndAddProducts() {
            this.$store.dispatch('productcart/clearCartItems')
            var validTypes = this.device.types.filter(type => {
                return type.product_count > 0
            })
            validTypes = validTypes.map(type => {
                return {
                    ...type,
                    quantity: 1,
                    ru: this.device
                }
            })
            // console.log(validTypes)
            for (const type of validTypes) {
                this.$store.dispatch('productcart/addCartItem', type)
            }
        },
        addProdToCartAndRedirect() {
            this.clearCartAndAddProducts()
            this.addedToCart = true
            this.$router.replace('/users/cart/')
        }
    }
}
</script>
