<template>
<div>
    <section class="section-b-space mt-3">
        <div v-if="latestDispensable" class="container mb-5">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-3" v-if="dispenses.length">
                    <h2 class="mb-4">Dispense Now</h2>
                    <p>Dispense your latest paid product</p>
                </div>
                <div class="mx-lg-0  mx-md-2 mx-sm-2 col-lg-6 col-sm-12">
                    <b-card :title="latestDispensable.invoice.ru_name" :sub-title="latestDispensable.invoice.ru_area+', '+latestDispensable.invoice.ru_zone">
                        <div class="mb-3">
                            <b-card-text class="mb-2">Invoice ID : {{ latestDispensable.invoice.id }}</b-card-text>
                             <b-card-text class="mb-2">Gateway : {{ latestDispensable.gateway }}</b-card-text>
                            <b-card-text class="mb-2">Amount : {{ latestDispensable.gateway === 'RFID' ? 'N/A' : '৳ ' + latestDispensable.amount }}</b-card-text>
                            <b-card-text class="mb-2">Transaction Date : {{ $moment(latestDispensable.tran_date).format('DD/MM/YYYY h:mm A') }}</b-card-text>
                            <b-card-text class="mb-2">Expiry Date : {{ $moment(latestDispensable.invoice.expiry_date).format('DD/MM/YYYY h:mm A') }}</b-card-text>
                        </div>
                        <button class="btn btn-outline" @click="showItemDetails(latestDispensable)">
                            <i class="ti-info-alt"></i>
                            Info
                        </button>
                        <button v-if="!latestDispensable.dispensed && latestDispensable.invoice.dispensable" class="btn btn-solid ml-2" @click="dispenseItem(latestDispensable)">
                            <i class="ti-shopping-cart-full"></i>
                            Dispense Now
                        </button>
                        <button v-else class="btn btn-solid ml-2" @click="showInvoice(latestDispensable)">
                            <i class="ti-receipt"></i>
                            Invoice
                        </button>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-3" v-if="dispenses.length">
                    <h2 class="mb-4">My Dispenses</h2>
                    <p>Dispense your paid products from here and download copies of your invoices. Dispense entries are showed for current month only.</p>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover text-center cart-table" v-if="dispenses.length">
                        <thead>
                            <tr class="table-head">
                                <th class="d-none d-md-table-cell d-lg-table-cell" scope="col">Date</th>
                                <th scope="col">Invoice Id</th>
                                <th class="d-none d-md-table-cell d-lg-table-cell" scope="col">Gateway</th>
                                <th scope="col">Unit Name</th>
                                <th class="d-none d-md-table-cell d-lg-table-cell" scope="col">Amount</th>
                                <!-- <th class="d-none d-md-table-cell d-lg-table-cell" scope="col">Dispensed</th> -->
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody v-for="(item,index) in dispenses" :key="index">
                            <tr>
                                <td class="d-none d-md-table-cell d-lg-table-cell">
                                    <h5>{{ $moment(item.tran_date).format('DD/MM/YYYY h:mm A') }}</h5>
                                </td>
                                <td>
                                    <h5>{{ item.invoice.id }}</h5>
                                </td>
                                <td class="d-none d-md-table-cell d-lg-table-cell">
                                    <h5>{{ item.gateway }}</h5>
                                </td>
                                <td>
                                    <h4>{{ item.invoice.ru_name }}</h4>
                                </td>
                                <td class="d-none d-md-table-cell d-lg-table-cell">
                                    <h4>{{ item.gateway === 'RFID' ? 'N/A' : '৳ ' + item.amount }}</h4>
                                </td>
                                <!-- <td class="d-none d-md-table-cell d-lg-table-cell">
                                    <i v-if="item.dispensed" class="fa fa-check"></i>
                                    <i v-else class="fa fa-close"></i>
                                </td> -->
                                <td>
                                    <button class="btn btn-sm" @click="showItemDetails(item)">
                                        <i class="ti-info-alt"></i>
                                        Info
                                    </button>
                                    <button v-if="!item.dispensed && item.invoice.dispensable" class="btn btn-sm" @click="dispenseItem(item)">
                                        <i class="ti-shopping-cart-full"></i>
                                        Dispense
                                    </button>
                                    <button v-else class="btn btn-sm" @click="showInvoice(item)">
                                        <i class="ti-receipt"></i>
                                        Invoice
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 empty-cart-cls text-center" v-else>
                        <img :src='"@/assets/images/icon-empty-cart.png"' class="img-fluid" alt="empty cart" />
                        <h3 class="mt-3">
                            <strong>{{ dispenseStatus }}</strong>
                        </h3>
                        <h4 class="mb-3">Add product to your cart and check out to manage dispneses from here.</h4>
                        <div class="col-12">
                            <nuxt-link :to="{ path: '/shop/vending-machines'}" class="btn btn-solid">continue shopping</nuxt-link>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row cart-buttons" v-if="cart.length">
                <div class="col-6">
                    <button @click="redirectToShop" class="btn btn-solid">visit shop</button>
                </div>
                <div class="col-6">
                    <button :disabled="cart.length === 0" @click="checkout" class="btn btn-solid">check out</button>
                </div>
            </div> -->
        </div>
    </section>
    <section v-if="dispenseAd" class="section-b-space mt-0 pt-0 pb-3 mb-3">
        <div class="container" @click="redirectToDispenseAdLink">
            <div class="row banner-timer mx-0 px-0" v-bind:style="{ 'background-image': 'url('+ dispenseAd.image +')'  }">
                <div class="col-md-6">
                    <div class="banner-text">
                        <h2>{{ dispenseAd.text }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- modal -->
    <b-modal id="dispense-item-details-modal" size="md" centered title="Item Details" @ok="dispenseItem(disObj)" @cancel="showInvoice(disObj)">
        <div class="container" v-if="disObj">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <h2 class="mb-4">{{ disObj.invoice.ru_name }}</h2>
                    <p>{{ disObj.invoice.ru_address }}</p>
                    <p>{{ disObj.invoice.ru_area }}, {{ disObj.invoice.ru_zone }}</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <h4 class="tran-date">Gateway: {{ disObj.gateway }}</h4>
                    <h4 class="tran-date">Provider: {{ disObj.provider }}</h4>
                    <h4 class="tran-date">Transaction Date : {{ $moment(disObj.tran_date).format('DD/MM/YYYY h:mm A') }}</h4>
                    <h4 class="tran-date">Dispensable Until: {{ $moment(disObj.invoice.expiry_date).format('DD/MM/YYYY h:mm A') }}</h4>
                </div>
                <b-table size="sm" responsive hover :items="disObj.items" :fields="fields">
                    <template v-slot:cell(price)="data">
                        ‎{{ disObj.gateway === 'RFID' ? 'N/A' : '৳ ' + data.value }}
                    </template>
                    <template v-slot:cell(total)="data">
                        ‎{{ disObj.gateway === 'RFID' ? parseFloat(0).toFixed(2) : '৳ ' + parseFloat(data.value).toFixed(2) }}
                    </template>
                </b-table>
            </div>
            <div class="row mr-lg-4 mr-md-4">
                <div v-if="disObj.gateway !== 'RFID'" class="col-12 mb-1">
                    <p class="pull-right"> <span class="tr-span mr-2">Sub Total</span> ৳ {{ disObj.invoice.base_total.toFixed(2) }}</p>
                </div>
                <div v-if="hasDiscount && disObj.gateway !== 'RFID'" class="col-12 mb-1">
                    <p class="pull-right"> <span class="tr-span mr-2">({{ hasCompanyDiscount ? parseFloat(disObj.invoice.discount_rate) : parseFloat(disObj.invoice.area_discount_rate) }}% off for {{ hasCompanyDiscount ? disObj.invoice.discount_company : disObj.invoice.ru_area }} {{ hasAreaDiscount ? ' area' : '' }})</span> ৳ {{ parseFloat(disObj.invoice.discount_amount).toFixed(2) }} </p>
                    <hr>
                </div>
                <div v-if="hasDiscount && disObj.gateway !== 'RFID'" class="col-12 mb-1">
                    <p class="pull-right"> <span class="tr-span mr-2">Discounted Price</span> ৳ {{ discountedTotal() }}</p>
                </div>
                <div v-if="disObj.gateway !== 'RFID'" class="col-12 mb-1">
                    <p class="pull-right"> <span class="tr-span mr-2">({{ parseFloat(disObj.invoice.bank_transaction_fee_percentage) }}% transaction fee)</span> ৳ {{ trFee() }} </p>
                    <hr>
                </div>
                <div class="col-12">
                    <h5 class="total-price pull-right"><strong class="mr-2">Grand Total</strong> {{ disObj.gateway === 'RFID' ? parseFloat(0).toFixed(2) : '৳ ' + disObj.invoice.tax_total.toFixed(2) }}</h5>
                </div>
            </div>
        </div>
        <template v-slot:modal-footer="{ ok, cancel }">
            <b-button class="btn btn-solid" size="sm" variant="info" @click="cancel">
                Show Invoice
            </b-button>
            <b-button :disabled="disObj.dispensed || !disObj.invoice.dispensable" class="btn btn-solid" size="sm" variant="info" @click="ok">
                Dispense
            </b-button>
        </template>
    </b-modal>
</div>
</template>

<style lang="scss" scoped>
.table {

    // display: flexbox;
    a {
        cursor: pointer;
    }
}

.tr-span {
    font-size: 80%;
}

.tran-date {
    font-size: 90%;
    color: gray;
    font-weight: bold;
}

.total-price {
    color: gray;
}
</style>

<script>
import {
    mapGetters
} from 'vuex'

export default {
    middleware: 'authenticated',
    data() {
        return {
            loadingDispenses: false,
            dispenses: [],
            latestDispensable: null,
            disObj: null,
            fields: ['brand', 'price', 'qty', 'total'],
        }
    },
    computed: {
        ...mapGetters({
            dispenseAd: 'shop/getDispenseAdStrip',
        }),
        dispenseStatus() {
            return this.loadingDispenses ? 'Loading dispense records...' : 'You have no  dispense records for this month!'
        },
        hasCompanyDiscount() {
            if (this.disObj) {
                if (this.disObj.invoice.discount_applied) {
                    return true
                }
                return false
            }
            return false
        },
        hasAreaDiscount() {
            if (this.disObj) {
                if (this.hasCompanyDiscount) {
                    return false
                }
                if (this.disObj.invoice.area_discount_applied) {
                    return true
                }
                return false
            }
            return false
        },
        hasDiscount() {
            return this.hasCompanyDiscount || this.hasAreaDiscount
        }
    },
    async beforeMount() {
        await this.loadDispenses()
    },
    mounted() {
        const queryParams = this.$route.query
        // console.log(queryParams)
        if (queryParams.hasOwnProperty('status')) {
            // console.log("Property found!")
            if (queryParams.status === 'failure' || queryParams.status === 'cancel') {
                const reqState = queryParams.status === 'failure' ? 'failed' : 'cancelled'
                this.$notify({
                    group: 'master',
                    type: 'error',
                    title: 'Payment ' + queryParams.status + '!',
                    text: 'Your payment transaction was ' + reqState + '.'
                })
            } else if (queryParams.status === 'success') {
                this.$notify({
                    group: 'master',
                    type: 'success',
                    title: 'Payment successful!',
                    text: 'Your payment transaction was successful.'
                })
            }
            this.$router.replace({
                'path': this.$route.path
            }) //omitting params from url
        }
    },
    methods: {
        redirectToDispenseAdLink() {
            if (this.dispenseAd) {
                // window.location = this.dispenseAd.link
                window.open(this.dispenseAd.link)
            }
        },
        discountedTotal() {
            if (this.disObj) {
                if (this.disObj.invoice.area_discount_applied || this.disObj.invoice.discount_applied)
                    return parseFloat(this.disObj.invoice.base_total - this.disObj.invoice.discount_amount).toFixed(2)
                return this.disObj.invoice.base_total.toFixed(2)
            }
            return 0
        },
        trFee() {
            if (this.disObj) {
                const amount = this.discountedTotal() * (parseFloat(this.disObj.invoice.bank_transaction_fee_percentage) / 100.00)
                return amount.toFixed(2)
            }
            return 0
        },
        async loadDispenses() {
            try {
                this.loadingDispenses = true
                // this.latestDispensable = null
                const disdata = await this.$axios.get('/api/transactions/ssl/dispenses/')
                this.dispenses = disdata['data']['dispenses']
                const latestDisObj = this.dispenses.filter((item) => {
                    return !item.dispensed && item.invoice.dispensable
                })[0]
                this.latestDispensable = latestDisObj ?? null
                // if(this.latestDispensable) {
                //     this.dispenses = this.dispenses.filter((item)=>{
                //         return item.id !== this.latestDispensable.id
                //     })
                // }
                this.loadingDispenses = false
            } catch (error) {
                this.dispenses = []
            }
        },
        redirectToShop() {
            this.$router.replace('/shop/vending-machines')
        },
        redirectToProfile() {
            this.$router.replace('/users/profile')
        },
        showItemDetails(item) {
            this.disObj = item
            this.$bvModal.show('dispense-item-details-modal')
        },
        showInvoice(item) {
            this.$notify({
                group: 'master',
                type: 'info',
                title: 'Loading invoice...',
                text: 'You\'ll be automatically redirected after invoice generation'
            })
            this.$router.push('/users/cart/invoice/' + item.id)
        },
        async dispenseItem(item) {
            try {
                const payload = {
                    tran_id: item.id
                }
                const sdata = await this.$axios.post('/api/transactions/dispense/web/', payload)
                // console.log(sdata['data'])
                this.$notify({
                    group: 'master',
                    type: 'info',
                    title: 'Dispense Signal Sent!',
                    text: 'Collect dispensed product from ' + item.device + ' at ' + item.location
                })
            } catch (error) {
                // console.log(error.response['data']['detail'])
                this.$notify({
                    group: 'master',
                    type: 'error',
                    title: 'Dispense Error',
                    text: error.response ? error.response['data']['detail'] : "Product didn't dispense"
                })
            } finally {
                await this.loadDispenses()
            }
        }
    }
}
</script>
