<template>
<div>
    <section class="cart-section section-b-space mt-3 mb-4 pb-3">
        <div class="container">
            <div class="row">
                <div v-if="cart.length" class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <h2 class="mb-4">My Cart</h2>
                    <p>Choose the proper quantity, manage cart items and proceed to checkout!</p>
                </div>
                <div v-if="cart.length" class="col-lg-8 col-md-8 col-sm-10 mb-4">
                    <h5 v-if="ru">Dispense Unit: <strong>{{ ru.name }}</strong></h5>
                    <h6 v-if="ru && ru.address !== ''">{{ ru.address }}</h6>
                    <h6 v-if="ru">{{ ru.area_name }}, {{ ru.zone_name}}</h6>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table cart-table" v-if="cart.length">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th class="d-none d-md-table-cell d-lg-table-cell" scope="col">action</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>
                        <tbody v-for="(item,index) in cart" :key="index">
                            <tr>
                                <td>
                                    <a href="javascript:void(0);">
                                        <img :src="item.image" alt />
                                    </a>
                                </td>
                                <td>
                                    <h4>{{item.name + ' ' + item.product_class}}</h4>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <button type="button" class="btn quantity-left-minus" data-type="minus" data-field @click="decrement(item)">
                                                            <i v-if="item.quantity > 1" class="ti-angle-left"></i>
                                                            <i v-else class="ti-close"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quantity" class="form-control input-number" v-model="item.quantity" />
                                                    <span class="input-group-prepend">
                                                        <button type="button" class="btn quantity-right-plus" data-type="plus" data-field @click="increment(item)">
                                                            <i class="ti-angle-right"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">৳ {{ parseFloat(item.unit_price).toFixed(2) }}</h2>
                                        </div>
                                        <div class="col-xs-3 d-none d-md-block d-lg-block">
                                            <h2 class="td-color">
                                                <a href="#" class="icon">
                                                    <i class="ti-close"></i>
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2>{{ '৳ ' +item.unit_price }}</h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus" data-field @click="decrement(item)">
                                                    <i v-if="item.quantity > 1" class="ti-angle-left"></i>
                                                    <i v-else class="ti-close"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity" class="form-control input-number" v-model="item.quantity" />
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus" data-type="plus" data-field @click="increment(item)">
                                                    <i class="ti-angle-right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="d-none d-md-table-cell d-lg-table-cell">
                                    <a class="icon" @click="removeCartItem(item)">
                                        <i class="ti-close"></i>
                                    </a>
                                </td>
                                <td>
                                    <h2 class="td-color">{{ '৳ ' + parseFloat(item.unit_price * item.quantity).toFixed(2) }}</h2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-responsive" v-if="cart.length">
                        <table class="table cart-table">
                            <tfoot>
                                <tr class="small-text-cell">
                                    <td>Subtotal</td>
                                    <td>
                                        <h2>{{ '৳ ' + cartTotal }}</h2>
                                    </td>
                                </tr>
                                <tr v-if="cart.length && hasDiscount" class="small-text-cell">
                                    <td>{{ discountRateDisplay() > 0 ? discountRateDisplay() : discountRateDisplay() * (-1) }}% {{ discountRateDisplay() > 0 ? 'discount' : 'added value' }} for {{ hasCompanyDiscount?  ru.discount_group.name : ru.area_name }} {{ hasAreaDiscount ? ' area' : ''}}</td>
                                    <td>
                                        <h2>৳ {{ calculatedGroupDiscount() > 0 ? calculatedGroupDiscount() : parseFloat(calculatedGroupDiscount() * (-1)).toFixed(2) }}</h2>
                                    </td>
                                </tr>
                                <tr v-if="cart.length && hasDiscount" class="small-text-cell">
                                    <td class="num-header">Discounted Total</td>
                                    <td>
                                        <h2>{{ '৳ ' + parseFloat(calculatedDiscountTotal()).toFixed(2) }}</h2>
                                    </td>
                                </tr>
                                <tr v-if="cart.length && spaParams" class="small-text-cell">
                                    <td>{{ spaParams.transaction_fee_percentage }}% transaction fee</td>
                                    <td>
                                        <h2>{{ '৳ ' + calculatedTransactionFee() }}</h2>
                                    </td>
                                </tr>
                                <tr v-if="cart.length" class="small-text-cell">
                                    <td>grand total</td>
                                    <td>
                                        <h2>{{ '৳ ' + calculatedGrandTotal() }}</h2>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <hr>
                    </div>
                    <transition name="fade">
                        <div class="col-sm-12 empty-cart-cls text-center" v-if="!cart.length">
                            <img :src='"@/assets/images/icon-empty-cart.png"' class="img-fluid" alt="empty cart" />
                            <h3 class="mt-3">
                                <strong>Your Cart is Empty</strong>
                            </h3>
                            <h4 class="mb-3">Explore our vending machines & add to your cart!</h4>
                            <div class="col-12">
                                <nuxt-link :to="{ path: '/shop/vending-machines'}" class="btn btn-solid">continue shopping</nuxt-link>
                                <nuxt-link :to="{ path: '/users/cart/dispenses'}" class="btn btn-outline">my dispenses</nuxt-link>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
            <div class="row cart-buttons" v-if="cart.length">
                <div class="col-6">
                    <button @click="redirectToShop" class="btn btn-solid">keep exploring</button>
                </div>
                <div class="col-6">
                    <button :disabled="cart.length === 0" @click="checkout" class="btn btn-solid">check out</button>
                </div>
            </div>
        </div>
    </section>
    <transition name="fade">
        <section v-if="cartAd" class="section-b-space pb-3 mb-3">
            <div class="container" @click="redirectToCartAdLink">
                <div class="row banner-timer mx-0 px-0" v-bind:style="{ 'background-image': 'url('+ cartAd.image +')' }">
                    <div class="col-md-6">
                        <div class="banner-text">
                            <h2>{{ cartAd.text }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </transition>
    <b-modal id="cart-address-modal" centered button-size="sm" title="Oops!" @ok="redirectToProfile">
        <p class="my-4">Seems like your profile's shipping address is incomplete. Please update necessary informations and try again.</p>
        <template v-slot:modal-footer="{ ok }">
            <b-button class="btn btn-solid" size="sm" variant="info" @click="ok">
                Update Information
            </b-button>
        </template>
    </b-modal>
    <b-modal id="terms-of-use-modal" centered button-size="sm" title="Terms of Use" @ok="handleTermsAccept">
        <div>
            <p>By checking out, you're accepting our platform's <nuxt-link :to="{ path: '/terms-of-use'}">terms of use</nuxt-link> and <nuxt-link :to="{ path: '/privacy-policy'}">privacy policy</nuxt-link>.</p>
        </div>
        <template v-slot:modal-footer="{ ok }">
            <b-button class="btn btn-solid" size="sm" variant="info" @click="ok">
                I Accept
            </b-button>
        </template>
    </b-modal>
    <b-modal id="checkout-choices-modal" centered hide-footer button-size="sm" title="Pay With">
        <div class="container">
            <div class="col">
                <div class="row">
                    <b-button class="btn col-12 chk-btn" size="sm" variant="light" @click="triggerCartDispatchBkash">
                        <img class="img-fluid" src="~/assets/images/bkash-chk-logo.png" alt="bkash button">
                    </b-button>
                </div>
                <div class="row mt-3">
                    <b-button class="btn col-12 chk-btn" size="sm" variant="light" @click="triggerCartDispatch">
                        <img class="img-fluid" src="~/assets/images/sslcom-chk-logo.png" alt="sslcommerz button">
                    </b-button>
                </div>
                <!-- <div class="row mt-3">
                    <b-button class="btn btn-outline col-12 other-chk-btn" size="sm" variant="info" @click="triggerCartDispatch">
                        other payment services
                    </b-button>
                </div> -->
            </div>
        </div>
    </b-modal>
    <b-modal id="guest-choices-modal" centered hide-footer hide-header button-size="sm" title="Continue to Checkout">
        <div class="container">
            <div v-if="!otp_acquired" class="col">
                <div class="row mx-1">
                    <h4 class="text-center">Returning User?</h4>
                    <b-button class="btn btn-solid col-12 mt-2" size="sm" variant="info" @click="redirectToLogin">
                        log in
                    </b-button>
                </div>
                <div class="my-4">
                    <div class="strike">
                        <span>Or</span>
                    </div>
                </div>
                <ValidationObserver v-slot="{ invalid }">
                    <form class="form" @submit.prevent="onGuestContactSubmit">
                        <div class="form-row">
                            <div class="col-12">
                                <label for="contact">Enter Contact Number</label>
                                <ValidationProvider rules="required|numeric|digits:11" v-slot="{ errors }" name="contact number">
                                    <input type="tel" class="form-control text-center" id="contact" v-model="guest_contact" placeholder="e.g. 01711123456" name="contact" />
                                    <span class="validate-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-solid mt-2 col-12" :disabled="invalid">continue to checkout</button>
                    </form>
                </ValidationObserver>
            </div>
            <div v-else class="col">
                <h4>Enter OTP</h4>
                <p class="text-justify">You have been sent a numerical code to the number you provided. Please enter the otp code to verify.</p>
                <ValidationObserver v-slot="{ invalid }">
                    <form class="form" @submit.prevent="onGuestOtpSubmit">
                        <div class="form-row">
                            <div class="col-12 align-items-center">
                                <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="otp code">
                                    <input type="text" name="otp_code" id="otp_code" v-model="otp_code" class="form-control text-center" />
                                    <span class="validate-error">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </div>
                            <button type="submit" class="btn btn-solid mt-2 col-12" :disabled="invalid">Verify Checkout</button>
                        </div>
                    </form>
                </ValidationObserver>
            </div>
        </div>
    </b-modal>
</div>
</template>

<style lang="scss" scoped>
.chk-btn {
    // border: 2px solid #ec3850;
    background-color: #f3f3f3;
    border-radius: 4px;
    // height: 80;
}

.chk-btn:hover {
    background-color: #ebebeb;
}

.other-chk-btn {
    color: #ec3850;
    background-color: inherit;
    height: 120px;
}

.other-chk-btn:hover {
    color: #ec3850 !important;
    background-color: inherit !important;
    border-color: #ec3850;
}

.form {
    width: 100%;
}

.form-control {
    display: inline-grid;
}

.form-row>span {
    width: 100%;
    // align-self: center;
}

.small-text-cell {
    td {
        font-weight: normal !important;

        h2 {
            font-size: 120%;
            font-weight: normal;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: lightgray;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

@media (min-width: 360px) {
    td {
        h2 {
            font-size: 90%;
        }
    }

    .small-text-cell {
        td {
            text-align: right;
            padding-left: 0%;
        }
    }
}
</style>

<script>
import {
    ValidationProvider,
    ValidationObserver
} from 'vee-validate/dist/vee-validate.full.esm'
import {
    mapGetters,
    mapState
} from 'vuex'
export default {
    data() {
        return {
            guest_contact: null,
            otp_acquired: false,
            otp_code: null,
        }
    },
    components: {
        ValidationProvider,
        ValidationObserver
    },
    computed: {
        ...mapState({
            loggedIn: state => state.user.isLoggedIn,
            // cart: state => state.productcart.products
        }),
        ...mapGetters({
            checkout_error: 'productcart/getError',
            cart: 'productcart/getProducts',
            cartTotal: 'productcart/getTotalAmount',
            ru: 'productcart/getRu',
            shippingPassed: 'user/getShippingPassed',
            cartAd: 'shop/getCartAdStrip',
            personalInfo: 'user/getPersonalInfo',
            spaParams: 'shop/getSpaManagementParams',
            ph_register_error: 'user/getError',
            otp_sid: 'user/getOtpResponse',
        }),
        hasCompanyDiscount() {
            if (this.personalInfo !== null) {
                if (this.ru.discount_group !== null) {
                    if (this.personalInfo.discount_group !== null) {
                        if (this.personalInfo.discount_group.name === this.ru.discount_group.name) {
                            return true
                        }
                        return false
                    }
                    return false
                }
                return false
            }
            return false
        },
        hasAreaDiscount() {
            if (!this.hasCompanyDiscount) {
                if (this.ru !== null) {
                    if (this.ru.area_discount !== null) {
                        return true
                    }
                    return false
                }
                return false
            }
            return false
        },
        hasDiscount() {
            return this.hasCompanyDiscount || this.hasAreaDiscount
        }
    },
    methods: {
        discountRateDisplay() {
            return this.hasCompanyDiscount ? parseFloat(this.ru.discount_group.discount_rate) : parseFloat(this.ru.area_discount.discount_rate)
        },
        removeCartItem(product) {
            this.$store.dispatch('productcart/removeCartItem', product)
        },
        increment(product) {
            if (product.product_count < product.quantity) {
                this.$notify({
                    group: 'master',
                    type: 'warn',
                    title: 'Error!',
                    text: "Only " + product.product_count + " products left for this type on this unit"
                })
            }
            this.$store.dispatch('productcart/incrementCartQuantity', product)
        },
        decrement(product) {
            this.$store.dispatch('productcart/decrementCartQuantity', product)
        },
        redirectToShop() {
            this.$router.push('/shop/vending-machines')
        },
        redirectToProfile() {
            this.$router.push('/users/profile')
        },
        calculatedGroupDiscount() {
            if (this.hasCompanyDiscount) {
                return parseFloat(this.cartTotal * (parseFloat(this.ru.discount_group.discount_rate) / 100.00)).toFixed(2)
            } else if (this.hasAreaDiscount) {
                return parseFloat(this.cartTotal * (parseFloat(this.ru.area_discount.discount_rate) / 100.00)).toFixed(2)
            }
            return parseFloat(0).toFixed(2)
        },
        calculatedDiscountTotal() {
            return parseFloat(parseFloat(this.cartTotal) - this.calculatedGroupDiscount()).toFixed(2)
        },
        calculatedTransactionFee() {
            if (this.spaParams) {
                return parseFloat(this.calculatedDiscountTotal() * (parseFloat(this.spaParams.transaction_fee_percentage) / 100.00)).toFixed(2)
            }
            return parseFloat(0).toFixed(2)
        },
        calculatedGrandTotal() {
            const gTotal = parseFloat(this.calculatedDiscountTotal()) + parseFloat(this.calculatedTransactionFee())
            return gTotal.toFixed(2)
        },
        validateRequest() {
            var status = true
            this.cart.forEach((element, index) => {
                if (parseInt(element.quantity) === 0) {
                    status = false
                } else if (parseInt(element.quantity) < 0) {
                    status = false
                } else if (parseInt(element.quantity) > element.product_count) {
                    this.$notify({
                        group: 'master',
                        type: 'warn',
                        title: 'Error!',
                        text: "Only " + element.product_count + " products left for this type on this unit"
                    })
                    status = false
                }
            });
            return status
        },
        initUserCheckoutFlow() {
            // if (this.shippingPassed) {
            //     this.$bvModal.show('terms-of-use-modal')
            // } else {
            //     this.$bvModal.show('cart-address-modal')
            // }
            this.$bvModal.show('terms-of-use-modal')
        },
        checkout() {
            // validate request for 0, neg quantity
            const status = this.validateRequest()
            if (!status) {
                this.$notify({
                    group: 'master',
                    type: 'warn',
                    title: 'Error!',
                    text: "Cart Items must have valid quantity"
                })
                return
            }
            // validation passed
            if (this.loggedIn) {
                this.initUserCheckoutFlow()
            } else {
                // this.$router.push('/users/login')
                this.$bvModal.show('guest-choices-modal')
            }
        },
        handleTermsAccept() {
            this.$bvModal.hide('terms-of-use-modal')
            this.$bvModal.show('checkout-choices-modal')
        },
        async triggerCartDispatch() {
            this.$bvModal.hide('checkout-choices-modal')
            try {
                await this.$store.dispatch('productcart/cartCheckout')
            } catch (error) {
                console.log(error)
            } finally {
                if (this.checkout_error) {
                    this.$notify({
                        group: 'master',
                        type: 'error',
                        title: 'Error!',
                        text: this.checkout_error
                    })
                }
            }
        },
        async triggerCartDispatchBkash() {
            this.$bvModal.hide('checkout-choices-modal')
            try {
                await this.$store.dispatch('productcart/cartCheckoutBkash')
            } catch (error) {
                console.log(error)
            } finally {
                if (this.checkout_error) {
                    this.$notify({
                        group: 'master',
                        type: 'error',
                        title: 'Error!',
                        text: this.checkout_error
                    })
                }
            }
        },
        redirectToLogin() {
            this.$router.push('/users/login')
        },
        redirectToCartAdLink() {
            if (this.cartAd) {
                window.open(this.cartAd.link)
            }
        },
        async onGuestContactSubmit() {
            try {
                const payload = {
                    contact_number: '+88' + this.guest_contact.trim(),
                }
                // console.log('Contact has been submitted!')
                await this.$store.dispatch('user/verifyUserWithPhone', payload)
            } catch (error) {
                console.log("Guest Contact Checkout Modal", error)
            } finally {
                if (this.ph_register_error) {
                    this.$notify({
                        group: 'master',
                        type: 'error',
                        title: 'Error!',
                        text: this.ph_register_error
                    })
                } else {
                    this.otp_acquired = true
                    console.log("OTP SID : " + this.otp_sid)
                }
            }
        },
        async onGuestOtpSubmit() {
            try {
                const payload = {
                    otp_code: this.otp_code.trim(),
                    sender_id: this.otp_sid,
                }
                console.log('OTP Code has been submitted!')
                await this.$store.dispatch('user/loginRegisterUserWithPhone', payload)
            } catch (error) {
                console.log("Phone Registration component", error)
            } finally {
                if (this.ph_register_error) {
                    this.$notify({
                        group: 'master',
                        type: 'error',
                        title: 'Error!',
                        text: this.ph_register_error
                    })
                } else {
                    if (this.loggedIn) {
                        // this.initUserCheckoutFlow()
                        this.$bvModal.hide('guest-choices-modal')
                        this.$bvModal.show('terms-of-use-modal')
                    }
                }
            }
        }
    }
}
</script>
