<template>
<div>
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title1">
                      <h2 class="title-inner1">Rating From Customers</h2>
                      <!-- <h2 class="title-inner1">{{title}}</h2> -->
                    </div>
                    <div class="d-flex justify-content-center">
                        <nuxt-link :to="{ path: '/contact/', hash: 'ratingshare'}" v-scroll-to="{el: '#ratingshare'}" class="col-lg-8 col-md-10 col-sm-12">
                            <b-form-rating :value="rating" readonly no-border show-value size="lg" color="#ff4c3b" precision="2"></b-form-rating>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
export default {
    props: ['rating'],
}
</script>
