<template>
<div>
    <section class="pt-0">
        <div class="full-banner" :class="`text-${home_ad.align} p-${home_ad.align}`" v-bind:style="{ 'background-image': `url(${home_ad.image})` }" @click="redirectToHomeLink(home_ad.link)">
            <!-- <img :src="home_ad.image" alt class="bg-img d-none" /> -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-contain">
                            <h2>{{home_ad.title}}</h2>
                            <h3>{{home_ad.subtitle}}</h3>
                            <h4>{{home_ad.text}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="section-b-space">
      <div class="container">
        <div class="row banner-timer" v-bind:style="{ 'background-image': 'url(' + imagepath2 + ')' }">
          <div class="col-md-6">
            <div class="banner-text">
              <h2 v-html="offer_text"></h2>
            </div>
          </div>
        </div>
      </div>
    </section> -->
</div>
</template>

<style lang="scss" scoped>
.banner-contain h3 {
    color: white !important
}

.banner-contain h4 {
    color: whitesmoke;
}
</style>

<script>
export default {
    props: ['home_ad'],
    methods: {
        redirectToHomeLink(link) {
            console.log("Hit ", link)
        }
    }
}
</script>
