<template>
  <div>
    <div class="container">
      <div class="row pt-4">
        <div class="col">
          <div class="title1">
            <h4>{{subtitle}}</h4>
            <h2 class="title-inner1">{{title}}</h2>
            <!-- <hr role="tournament6" /> -->
          </div>
        </div>
      </div>
    </div>
    <section class="section-b-space blog p-t-0 blog_box ratio2_3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div v-swiper:mySwiper="swiperOption">
              <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(blog,index) in blogs" :key="index">
                <a :href="blog.link">
                  <div class="classic-effect">
                    <div>
                      <img
                        :src="blog.image"
                        class="img-fluid"
                        alt
                      />
                    </div>
                    <span></span>
                  </div>
                </a>
                <div class="blog-details">
                  <a :href="blog.link">
                    <h4>{{blog.title}}</h4>
                  </a>
                  <p>{{blog.published_date}}</p>
                  <h6>by: {{blog.author}}</h6>
                  <!-- <hr class="style1" /> -->
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  props: ['blogs'],
  data() {
    return {
      title: 'from the blog',
      subtitle: 'recent story',
      swiperOption: {
        initialSlide: 0,
        loop: false,
        autoplay: {
          delay: 3500,
          stopOnLastSlide: false,
          disableOnInteraction: true
        },
        slidesPerView: 3,
        spaceBetween: 20,
        freeMode: true,
        breakpoints: {
          1199: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          991: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          420: {
            slidesPerView: 1,
            spaceBetween: 20
          }
        }
      }
    }
  },
}
</script>
