<template>
  <div>
    <section class="pb-0 ratio2_1 pet-collection-banner">
      <div class="container">
        <div class="title1">
          <h4>{{subtitle}}</h4>
          <h2 class="title-inner1">{{title}}</h2>
          <!-- <hr role="tournament6" /> -->
        </div>
        <div class="row partition2">
          <div class="col-md-6 mt-2" v-for="(item, index) in items" :key="index">
            <a href="javascript:void(0)" @click="redirectToShop(item)">
              <div class="collection-banner" :class="`text-${item.align} p-${item.align}`">
                <div class="img-part">
                  <img :src="item.image" class="img-fluid" alt="banner" />
                </div>
                <div class="contain-banner">
                  <div>
                    <h2>{{item.name}}</h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style lang="scss" scoped>
.partition2 {
  display: flex;
  justify-content: center;
}
.contain-banner h2 {
  border-width: 2px !important;
  border-color: aliceblue !important;
}
.collection-banner {
  border-radius: 1em;
}
</style>
<script type="text/javascript">
export default {
  props: ['items'],
  data() {
    return {
      title: "Inventory",
      subtitle: "Our Expanding Collection",
    }
  },
  methods: {
    redirectToShop(item) {
      this.$router.push('/shop/vending-machines?inventory='+item.id)
    }
  }
}
</script>
