<template>
<div>
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title1">
                        <h2 class="title-inner1">Our Partners</h2>
                        <!-- <h2 class="title-inner1">{{title}}</h2> -->
                    </div>
                    <div class="slide-6 no-arrow">
                        <div v-swiper:mySwiper="swiperOption">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="(item, index) in items" :key="index">
                                    <div>
                                        <div class="logo-block text-center">
                                            <a :href="item.link" target="_blank">
                                                <img :src="item.image" alt />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
export default {
    props: ['items'],
    data() {
        return {
            swiperOption: {
                initialSlide: 0,
                loop: true,
                autoplay: {
                  delay: 2000,
                  stopOnLastSlide: false,
                  disableOnInteraction: true
                },
                slidesPerView: 6,
                freeMode: true,
                breakpoints: {
                    1199: {
                        slidesPerView: 4
                    },
                    768: {
                        slidesPerView: 3
                    },
                    420: {
                        slidesPerView: 2
                    }
                }
            }
        }
    }
}
</script>
