<template>
  <div>
    <section class="p-0 pet-parallax">
      <div
        class="full-banner parallax text-center p-center"
        v-bind:style="{ 'background-image': `url(${item.image})` }"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="banner-contain">
                <h4>{{item.upper_text}}</h4>
                <h3>{{item.lower_text}}</h3>
                <p>{{item.description}}</p>
                <a v-if="item.link !== ''" :href="item.link" class="btn btn-solid black-btn" tabindex="0">{{ item.link_name !== '' ? item.link_name : 'shop now'}}</a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="pet-decor">
          <img :src="imagepath" alt class="img-fluid" />
        </div> -->
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
export default {
  props: ['item'],
}
</script>
