<template>
<div>
    <section class="section-b-space j-box pets-box ratio_square">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title1">
                        <h4>{{subtitle}}</h4>
                        <h2 class="title-inner1">{{title}}</h2>
                        <!-- <hr role="tournament6" /> -->
                    </div>
                    <div class="offer-slider slide-1">
                        <div v-swiper:mySwiper="swiperOption">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="(product,index) in products" :key="index">
                                    <div class="product-box">
                                        <productBox5 @opencartmodel="showCartModal" @openquickview="showquickview" @showalert="alert" @alertseconds="alert" :product="product" :index="index" />
                                    </div>
                                </div>
                                <!-- <div class="swiper-button-prev" slot="button-prev"></div>
                                <div class="swiper-button-next" slot="button-next"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <b-alert :show="dismissCountDown" variant="success" @dismissed="dismissCountDown=0" @dismiss-count-down="alert">
        <p>Product Is successfully added to your wishlist.</p>
    </b-alert>
</div>
</template>

<style lang="scss" scoped>
// .swiper-wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
</style>

<script>
import productBox5 from '../product-box/product-box5'
export default {
    props: ['products'],
    components: {
        productBox5
    },
    data() {
        return {
            title: 'top products',
            subtitle: 'Products That You like',
            showCart: false,
            showquickviewmodel: false,
            showcomapreModal: false,
            quickviewproduct: {},
            comapreproduct: {},
            dismissSecs: 5,
            dismissCountDown: 0,
            swiperOption: {
                initialSlide: 0,
                loop: false,
                autoplay: {
                    delay: 1500,
                    stopOnLastSlide: false,
                    disableOnInteraction: true
                },
                slidesPerView: 3,
                spaceBetween: 20,
                freeMode: true,
                breakpoints: {
                    1199: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    },
                    991: {
                        slidesPerView: 2,
                        spaceBetween: 20
                    },
                    420: {
                        slidesPerView: 1,
                        spaceBetween: 20
                    }
                }
            }
        }
    },
    methods: {
        alert(item) {
            this.dismissCountDown = item
        },
        showCartModal(item) {
            this.showCart = item
            this.$emit('openCart', this.showCart)
        },
        showquickview(item, productData) {
            this.showquickviewmodel = item
            this.quickviewproduct = productData
            this.$emit('openQuickview', this.showquickviewmodel, this.quickviewproduct)
        },
        // showcomparemodal(item, productData) {
        //   this.showcomapreModal = item
        //   this.comapreproduct = productData
        //   this.$emit('openCompare', this.showcomapreModal, this.comapreproduct)
        // }
    }
}
</script>
