<template>
  <div>
    <div class="container mt-2">
      <section class="service section-b-space">
        <div class="row partition4">
          <div v-for="(item, index) in items" :key="index" class="col-lg-3 col-md-6 service-block1">
            <div class="logo-block mb-2">
              <img :src="item.image" alt />
            </div>
            <h4>{{item.header}}</h4>
            <p>{{item.description}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.partition4 {
  display: flex;
  justify-content: center;
}
</style>
<script type="text/javascript">
export default {
  props: ['items'],
}
</script>
