<template>
<div>
    <section class="p-0 full-banner">
        <div class="slide-1 home-slider">
            <div v-swiper:mySwiper="swiperOption">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item, index) in items" :key="index">
                        <div v-lazy class="home" :class="`text-${item.align} p-${item.align}`" v-bind:style="{ 'background-image': 'url(' + item.image + ')' }">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="slider-contain">
                                            <div>
                                                <h4>{{ item.upper_text }}</h4>
                                                <h1>{{ item.lower_text }}</h1>
                                                <a v-if="item.link !== ''" :href="item.link" class="btn btn-solid">{{ item.link_name !== '' ? item.link_name : 'shop now' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </div>
        </div>
    </section>
</div>
</template>

<style lang="scss" scoped>
.slider-contain h1,
h4 {
    color: black !important
}
</style>

<script>
export default {
    props: ['items'],
    data() {
        return {
            swiperOption: {
                effect: 'slide',
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                },
                loop: true,
                initialSlide: 0,
                autoplay: {
                    delay: 4000,
                    stopOnLastSlide: false,
                    disableOnInteraction: false
                },
            },
        }
    }
}
</script>
