<template>
  <div>
    <section class="video-section section-b-space">
      <div class="title1">
        <h4>{{subtitle}}</h4>
        <h2 class="title-inner1">{{video.title}}</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="video-img">
              <iframe :src="video.link" frameborder="0" allowfullscreen width="100%" height="100%" allow="autoplay; encrypted-media"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.video-img {
  position: relative;
  padding-bottom: 56.25%;
}
.video-img iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

<script>
export default {
  props: ['video'],
  data() {
    return {
      title: 'Video tutorial',
      subtitle: '',
      loaderPath: require('@/assets/images/loader.gif'),
    }
  }
}
</script>
