<template>
  <div>
    <section class="pwd-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2>{{title}}</h2>
            <b-card-text>
              <div class="dashboard-right">
                <div class="dashboard">
                  <!-- <div class="page-title">
                    <h2>Change Password</h2>
                  </div>
                  <div class="welcome-msg">
                    Provide your old password to update your password
                  </div> -->
                  <div class="box-account box-info">
                    <div class="box-head">
                    </div>
                    <div>
                      <div class="box">
                        <ValidationObserver v-slot="{ invalid }">
                        <form class="theme-form" @submit.prevent="submitPasswordChange" method="post">
                          <div class="form-row">
                            <div class="col-md-12">
                              <!-- <label for="fname">New Password</label> -->
                              <ValidationProvider rules="required|min:8|confirmed:confirmation" v-slot="{ errors }" name="new password">
                              <input
                                type="password"
                                class="form-control"
                                id="newpass1"
                                v-model="newpass1"
                                placeholder="New Password"
                                name="newpass1"
                              />
                              <span class="validate-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </div>
                            <div class="col-md-12 mt-3">
                              <!-- <label for="fname">Confirm New Password</label> -->
                              <ValidationProvider rules="required" v-slot="{ errors }" name="confirm password" vid="confirmation">
                              <input
                                type="password"
                                class="form-control"
                                id="newpass2"
                                v-model="newpass2"
                                placeholder="Confirm Password"
                                name="newpass2"
                              />
                              <span class="validate-error">{{ errors[0] }}</span>
                              </ValidationProvider>
                            </div>
                            <div class="col-md-12 mt-3">
                              <button
                                type="submit"
                                class="btn btn-outline"
                                :disabled="invalid"
                              >
                              Update Password
                              </button>
                            </div>
                          </div>
                        </form>
                        </ValidationObserver>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </b-card-text>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full.esm'

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  middleware: 'authenticated',
  data() {
    return {
      title: 'Change your password',
      newpass1: null,
      newpass2: null,
    }
  },
  computed: {
    update_error() {
      return this.$store.getters['user/getError']
    }
  },
  methods: {
    submitPasswordChange() {
      const payload = {
        new_password1: this.newpass1,
        new_password2: this.newpass2
      }
      this.$store.dispatch('user/updateUserPassword', payload)
      if(this.update_error) {
        this.$notify({
          group: 'master',
          type: 'error',
          title: 'Error!',
          text: this.update_error
        })
      } else {
        this.$notify({
          group: 'master',
          type: 'success',
          title: 'Updated!',
          text: 'Password Updated!'
        })
      }
    }
  }
}
</script>
