<template>
<div>
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <b-card no-body v-bind:class="'dashboardtab'">
                    <b-tabs pills card vertical>
                        <b-tab title="Account Info" active>
                            <b-card-text>
                                <div class="dashboard-right">
                                    <div class="dashboard">
                                        <div class="page-title">
                                            <h2>My Dashboard</h2>
                                        </div>
                                        <div class="welcome-msg">
                                            <p v-if="personalInfo">Hello, {{ personalInfo.first_name }} {{ personalInfo.last_name }}</p>
                                            <br>
                                            <p>From your dashboard you have the ability to view a snapshot of your overall info and update your account information. Select a link below to view or edit information.</p>
                                        </div>
                                        <div class="box-account box-info">
                                            <div class="box-head">
                                                <h2>Account Information</h2>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="box">
                                                        <div class="box-title">
                                                            <h3>Contact Information</h3>
                                                            <p v-if="!personalInfo">You registered using your phone number. Please update your info to show here.</p>
                                                            <nuxt-link :to="{ path: '/users/profile'}">Update Info</nuxt-link>
                                                        </div>
                                                        <div v-if="personalInfo" class="box-content">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <h6>Name : {{ personalInfo.first_name }} {{ personalInfo.last_name }}</h6>
                                                                    <h6>E-mail : {{ personalInfo.email }}</h6>
                                                                    <h6>Contact : {{ personalInfo.contact_number }}</h6>
                                                                    <h6>Varified Account : {{ isVerified }}</h6>
                                                                    <!-- <h6>
                                      <nuxt-link :to="{ path: '/users/forget-password'}">Forgot Password</nuxt-link>
                                    </h6> -->
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <h6>Location : <a v-if="validLocation" :href="locLink" target="_blank">{{ personalInfo.lat }}, {{ personalInfo.lon }}</a> <a class="ml-2" @click="updateLocation">update</a></h6>
                                                                    <!-- <h6>Last Login : {{ personalInfo.last_login }}</h6> -->
                                                                    <h6>Company Discount : {{ personalInfo.discount_group ? 'Available' : 'None' }}</h6>
                                                                    <h6 v-if="personalInfo.discount_group">Company Name : {{ personalInfo.discount_group.name }}</h6>
                                                                    <h6 v-if="personalInfo.discount_group">Discount : {{ parseFloat(personalInfo.discount_group.discount_rate) }}%</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="box">
                                                    <div class="box-title">
                                                        <h3>Address Book</h3>
                                                        <p v-if="!personalInfo">Please update your address to show here.</p>
                                                        <nuxt-link :to="{ path: '/users/profile', hash: 'business-address'}" v-scroll-to="{el: '#business-address'}">Update Address</nuxt-link>
                                                    </div>
                                                    <div class="row">
                                                        <div v-if="personalInfo" class="col-sm-6">
                                                            <h5>Home Address</h5>
                                                            <address v-if="personalInfo.address">
                                                                <h6 class="home-address-dash">{{ personalInfo.address }}</h6>
                                                            </address>
                                                            <address v-else>
                                                                You have not set a default home address.
                                                            </address>
                                                        </div>
                                                        <div v-if="billingInfo" class="col-sm-6">
                                                            <h5>Billing Address</h5>
                                                            <address v-if="billingInfo.address">
                                                                <h6>{{ billingInfo.address }}</h6>
                                                                <h6>{{ billingInfo.city }} - {{ billingInfo.postcode }}</h6>
                                                                <h6>{{ billingInfo.country }}</h6>
                                                            </address>
                                                            <address v-else>
                                                                You have not set a default shipping address.
                                                            </address>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
                        <b-tab v-if="rfidInfo" title="RFID">
                            <b-card-text>
                                <div class="dashboard-right">
                                    <div class="dashboard">
                                        <div class="page-title">
                                            <h2>My RFID</h2>
                                        </div>
                                        <div class="welcome-msg">
                                            <p>You can monitor your rfid information in this section</p>
                                        </div>
                                        <div class="box-account box-info mt-3">
                                            <div class="box-head">
                                                <!-- <h2>Card Information</h2> -->
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="box">
                                                        <div class="box-title">
                                                            <h3>Card Information</h3>
                                                            <!-- <a href="#">Refill Card</a> -->
                                                        </div>
                                                        <div class="box-content">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <h6>RFID Tag : {{ rfidInfo.tag}}</h6>
                                                                    <h6>Status : <strong>{{ rfidActive }}</strong></h6>
                                                                    <!-- <h6>Credit Amount (Due) : <strong>৳ {{ parseFloat(rfidInfo.due_transaction_amount).toFixed(2) }}</strong></h6> -->
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <h6>Last Used : {{ rfidInfo.last_used}}</h6>
                                                                    <h6 v-if="rfidInfo.valid">Valid Until : {{ rfidInfo.valid_until }}</h6>
                                                                    <h6 v-else><strong>CARD EXPIRED</strong></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="box mt-2">
                                                    <div class="box-title">
                                                        <h3>Products Availed</h3>
                                                        <a class="pull-right" @click="clickedRecharge">Refill Products</a>
                                                    </div>
                                                    <b-table v-if="rfidInfo.products.length > 0" borderless :sticky-header="true" responsive :dark="false" hover :items="rfidInfo.products" :fields="rfid_pr_fields"></b-table>
                                                    <div v-else>
                                                        <p>You currently have no purchased products in your RFID. Click 'Refill Products' button to prchase some products.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="recharges.length > 0">
                                                <div class="box mt-2">
                                                    <div class="box-title">
                                                        <h3>Refill History</h3>
                                                    </div>
                                                    <b-table borderless :sticky-header="true" responsive :dark="false" hover :items="recharges" :fields="recharge_fields"></b-table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
                        <b-tab title="Purchase History">
                            <b-card-text>
                                <div class="dashboard-right">
                                    <div class="dashboard">
                                        <div class="page-title">
                                            <h2>My Purchases</h2>
                                        </div>
                                        <div class="welcome-msg">
                                            <p>From this section, you have the ability to view your all orders including their status.</p>
                                            <p v-if="transactions.length == 0">You do not have any prchase records yet!</p>
                                        </div>
                                        <div v-if="transactions.length > 0" class="box-account box-info">
                                            <div class="box-head">
                                                <h2>Latest Orders</h2>
                                            </div>
                                            <div>
                                                <div class="box">
                                                    <div class="box-title mb-3">
                                                        <p>Here you can check out your transactions for current month. Check for <nuxt-link :to="{ path: '/users/cart/dispenses' }">"My Dispenses"</nuxt-link> section instead for more details on each paid transaction.</p>
                                                    </div>
                                                    <b-table ref="transactionTable" borderless
                                                    :sticky-header="true" responsive hover :items="transactions" :fields="transaction_fields"></b-table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </b-card-text>
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
        </div>
    </section>
    <b-modal id="rfid-recharge-modal" centered hide-footer button-size="sm" title="Refill Products">
        <p class="my-4">Select product type and specify your quantity to recharge RFID with new products that you can later dispense.</p>
        <b-form @submit.prevent="rechargeRFID" @reset="cancelRechargeRFID">
            <b-form-group id="type-group" label="Product Type" label-for="pr-input" description="Select Product Type">
                <b-form-select id="pr-input" v-model="selectedRechargeInventoryType" :options="product_type_options"></b-form-select>
            </b-form-group>
            <b-form-group v-if="selectedRechargeInventoryType" id="qty-group" label="Product Quantity" label-for="qty-input" description="Enter Product Quantity">
                <b-form-input v-model="selectedRechargeQuantity" type="number" placeholder="eg. 10"></b-form-input>
            </b-form-group>
            <div class="container" v-if="can_purchase">
                <div class="row mr-lg-0 mr-md-0">
                    <div class="col-12 mb-1">
                        <p class="pull-right"> <span class="tr-span mr-2">Sub Total</span> ৳ {{ subtotal() }}</p>
                    </div>
                    <div v-if="personalInfo.discount_group" class="col-12 mb-1">
                        <p class="pull-right"> <span class="tr-span mr-2">({{ parseFloat(personalInfo.discount_group.discount_rate) > 0 ? parseFloat(personalInfo.discount_group.discount_rate) : parseFloat(personalInfo.discount_group.discount_rate) * (-1) }}% company {{ parseFloat(personalInfo.discount_group.discount_rate) > 0 ? 'discount' : 'added value' }})</span> ৳ {{ calculatedGroupDiscount() > 0 ? calculatedGroupDiscount() : (calculatedGroupDiscount() * (-1)).toFixed(2) }} </p>
                        <hr>
                    </div>
                    <div v-if="personalInfo.discount_group" class="col-12 mb-1">
                        <p class="pull-right"> <span class="tr-span mr-2">Discounted Price</span> ৳ {{ calculatedDiscountTotal() }}</p>
                    </div>
                    <div v-if="rfidInfo.due_transaction_amount > 0" class="col-12 mb-1">
                        <p class="pull-right"> <span class="tr-span mr-2">Unpaid Credit</span> ৳ {{ rfidInfo.due_transaction_amount }}</p>
                    </div>
                    <div class="col-12 mb-1">
                        <p class="pull-right"> <span class="tr-span mr-2">({{ parseFloat(spaParams.transaction_fee_percentage) }}% transaction fee)</span> ৳ {{ calculatedTransactionFee() }} </p>
                        <hr>
                    </div>
                    <div class="col-12">
                        <h5 class="total-price pull-right"><strong class="mr-2">Grand Total</strong> ৳ {{ calculatedGrandTotal() }}</h5>
                    </div>
                </div>
            </div>
            <b-button :disabled="!can_purchase" type="submit" class="btn btn-sm btn-solid pull-right">Checkout</b-button>
            <b-button type="reset" class="btn btn-sm btn-outline pull-left">cancel</b-button>
        </b-form>
    </b-modal>
    <b-modal id="rfid-no-address-modal" centered button-size="sm" title="Oops!" @ok="redirectToProfile">
        <p class="my-4">Seems like your profile's shipping address is incomplete. Please update necessary informations and try again.</p>
        <template v-slot:modal-footer="{ ok }">
            <b-button class="btn btn-solid" size="sm" variant="info" @click="ok">
                Update Information
            </b-button>
        </template>
    </b-modal>
</div>
</template>

<style lang="scss" scoped>
a:hover {
    cursor: pointer;
}

.home-address-dash {
    white-space: pre;
}
</style>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'

export default {
    middleware: 'authenticated',
    beforeMount() {
        this.$store.dispatch('user/fetchPersonalInfo')
        this.$store.dispatch('user/fetchBillingInfo')
        this.$store.dispatch('user/fetchRFIDInfo')
        this.$store.dispatch('user/fetchLikeRating')
        this.$store.dispatch('user/fetchTransactions')
        this.$store.dispatch('user/fetchRecharges')
    },
    data() {
        return {
            oldpass: '',
            newpass1: '',
            newpass2: '',
            transaction_fields: ['serial_no', 'gateway', 'amount', 'provider', 'dispensed', {
                key: 'tran_date',
                label: 'Transaction Date'
            }],
            recharge_fields: ['serial_no', {
                key: 'product_brand',
                label: 'Brand'
            }, 'unit_price', {
                key: 'quantity',
                label: 'Qty'
            }, 'amount', 'provider', {
                key: 'tran_date',
                label: 'Transaction Date'
            }],
            rfid_pr_fields: [{
                key: 'product_type.name',
                label: 'Brand'
            }, {
                key: 'product_type.product_class',
                label: 'Class'
            }, {
                key: 'product_type.size',
                label: 'Size'
            }, 'quantity', {
                key: 'credit_type',
                label: 'Type'
            }],
            selectedRechargeInventoryType: null,
            selectedRechargeQuantity: 0
        }
    },
    computed: {
        ...mapGetters({
            personalInfo: 'user/getPersonalInfo',
            billingInfo: 'user/getBillingInfo',
            rfidInfo: 'user/getRFIDInfo',
            transactions: 'user/getTransactions',
            recharges: 'user/getRecharges',
            product_types: 'shop/getProductTypes',
            spaParams: 'shop/getSpaManagementParams',
            shippingPassed: 'user/getShippingPassed',
        }),
        isVerified() {
            return this.personalInfo.is_otp_verified ? 'Yes' : 'No'
        },
        locLink() {
            return 'https://www.google.com/maps/search/?api=1&query=' + this.personalInfo.lat + ',' + this.personalInfo.lon
        },
        validLocation() {
            return this.personalInfo.lat === 0 && this.personalInfo.lon === 0 ? false : true
        },
        rfidActive() {
            return this.rfidInfo.activated === true ? 'ACTIVE' : 'NOT ACTIVE'
        },
        update_error() {
            return this.$store.getters['user/getError']
        },
        product_type_options() {
            if (this.product_types.length > 0) {
                return this.product_types.map(type => {
                    return {
                        value: type,
                        text: type.name + " (" + type.product_class + ", " + type.size + ")"
                    }
                })
            } else {
                return []
            }
        },
        can_purchase() {
            if (this.selectedRechargeInventoryType) {
                if (this.selectedRechargeQuantity) {
                    try {
                        this.selectedRechargeQuantity = parseInt(this.selectedRechargeQuantity)
                        if (this.selectedRechargeQuantity > 0) {
                            return true
                        }
                        return false
                    } catch (error) {
                        return false
                    }
                }
                return false
            }
            return false
        }
    },
    methods: {
        async updateLocation() {
            this.$nuxt.$loading.start()
            const coordinates = await this.$getLocation({
                enableHighAccuracy: false, //defaults to false
                timeout: Infinity, //defaults to Infinity
                maximumAge: 0
            })
            console.log(coordinates)
            await this.uploadLocationToServer(coordinates.lat, coordinates.lng)
        },
        async uploadLocationToServer(lat, lon) {
            try {
                const payload = {
                    lat: lat.toFixed(5),
                    lon: lon.toFixed(5),
                }
                console.log('Location has been submitted!')
                await this.$store.dispatch('user/updatePersonalInfo', payload)
            } catch (error) {
                this.$nuxt.$loading.finish()
                console.log("Dashboard component", error)
            } finally {
                this.$nuxt.$loading.finish()
                if (this.update_error) {
                    this.$notify({
                        group: 'master',
                        type: 'error',
                        title: 'Error!',
                        text: this.update_error
                    })
                } else {
                    this.$notify({
                        group: 'master',
                        type: 'success',
                        title: 'Updated!',
                        text: 'location has been updated!'
                    })
                }
            }
        },
        subtotal() {
            if (!this.can_purchase)
                return 0.0
            return parseFloat(parseFloat(this.selectedRechargeInventoryType.unit_price) * this.selectedRechargeQuantity).toFixed(2)
        },
        calculatedGroupDiscount() {
            if (!this.can_purchase)
                return 0.0
            if (this.personalInfo.discount_group) {
                return (this.subtotal() * (parseFloat(this.personalInfo.discount_group.discount_rate) / 100.00)).toFixed(2)
            }
            return 0.0
        },
        calculatedDiscountTotal() {
            if (!this.can_purchase)
                return 0.0
            if (this.personalInfo.discount_group) {
                return parseFloat(this.subtotal() - this.calculatedGroupDiscount()).toFixed(2)
            }
            return this.subtotal()
        },
        calculatedTransactionFee() {
            if (!this.can_purchase)
                return 0.0
            if (this.spaParams) {
                var totalAmount = parseFloat(this.calculatedDiscountTotal())
                if (this.rfidInfo.due_transaction_amount > 0){
                    totalAmount += parseFloat(this.rfidInfo.due_transaction_amount)
                }
                // console.log("TOTAL AMTKL: "+totalAmount)
                return parseFloat(parseFloat(totalAmount) * (parseFloat(this.spaParams.transaction_fee_percentage) / 100.00)).toFixed(2)
            }
            return 0.0
        },
        calculatedGrandTotal() {
            if (!this.can_purchase)
                return 0.0

            var totalAmount = parseFloat(this.calculatedDiscountTotal())
            if (this.rfidInfo.due_transaction_amount > 0){
                totalAmount += parseFloat(this.rfidInfo.due_transaction_amount)
            }
            return parseFloat(parseFloat(totalAmount) + parseFloat(this.calculatedTransactionFee())).toFixed(2)
        },
        doLogout() {
            // Logout
            this.$store.dispatch('user/logoutUser')
            this.$router.replace('/users/login/')
        },
        redirectToDispenses() {
            this.$router.push('/users/cart/dispenses/')
        },
        redirectToProfile() {
            this.$router.push('/users/profile')
        },
        clickedRecharge() {
            this.$bvModal.show('rfid-recharge-modal')
        },
        cancelRechargeRFID() {
            this.$bvModal.hide('rfid-recharge-modal')
            this.selectedRechargeInventoryType = null
            this.selectedRechargeQuantity = 0
        },
        // tranRowClicked(items) {
        //     const item = items[0] ?? null
        //     if (item) {
        //         this.$router.push('/users/cart/invoice/'+item.id)
        //     }
        //     this.$refs.transactionTable.clearSelected()
        // },
        async rechargeRFID() {
            if (this.shippingPassed) {
                console.log("Adding..")
                this.$bvModal.hide('rfid-recharge-modal')
                const payload = {
                    type_id: '' + this.selectedRechargeInventoryType.id,
                    qty: '' + this.selectedRechargeQuantity
                }
                console.log("Recharge payload", payload)
                try {
                    await this.$store.dispatch('user/rechargeRFID', payload)
                } catch (error) {
                    console.log(error)
                } finally {
                    if (this.update_error) {
                        this.$notify({
                            group: 'master',
                            type: 'error',
                            title: 'Error!',
                            text: this.update_error
                        })
                    } else {
                        this.$notify({
                            group: 'master',
                            type: 'info',
                            title: 'In process',
                            text: 'Processing Recharge payment...!'
                        })
                    }
                    this.selectedRechargeInventoryType = null
                    this.selectedRechargeQuantity = 0
                }
            } else {
                this.$bvModal.show('rfid-no-address-modal')
            }
        },
    }
}
</script>
