<template>
  <div>
    <section class="pwd-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <h2>{{title}}</h2>
            <ValidationObserver v-slot="{ invalid }">
            <form class="theme-form" @submit.prevent="onForgotSubmit" method="post">
              <div class="form-row">
                <div class="col-md-12">
                  <ValidationProvider rules="required" v-slot="{ errors }" name="email">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="email"
                    placeholder="Enter Your Email"
                    name="email"
                    required
                  />
                  <span class="validate-error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <input type="submit" class="btn btn-solid" :disabled="invalid" value="submit" />
              </div>
            </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full.esm'
export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      title: 'Forgot your password ?',
      email: null
    }
  },
  computed: {
    forgot_pass_error() {
      return this.$store.getters['user/getError']
    }
  },
  methods: {
    async onForgotSubmit() {
      try {
        const payload = {
          email: this.email.trim()
        }
        await this.$store.dispatch('user/forgotUserPassword', payload)
      } catch (error) {
        console.log("Login Component", error)
      } finally {
        if (this.forgot_pass_error) {
          this.$notify({
            group: 'master',
            type: 'error',
            title: 'Error!',
            text: this.forgot_pass_error
          })
        } else {
          this.$router.replace('/')
        }
      }
    }
  }
}
</script>
