<template>
  <div>
    <section class="login-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3>{{logintitle}}</h3>
            <div class="theme-card">
              <ValidationObserver v-slot="{ invalid }">
              <form class="theme-form" @submit.prevent="onSubmit">
                <div class="form-group">
                  <label for="email">Email</label>
                  <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="email"
                    placeholder="Email address"
                    name="email"
                  />
                  <span class="validate-error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <ValidationProvider rules="required" v-slot="{ errors }" name="password">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    v-model="password"
                    placeholder="Enter your password"
                  />
                  <span class="validate-error">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <div class="box">
                    <nuxt-link
                      :to="{ path: '/users/forget-password'}"
                      class="dashboard"
                    >Forgot your password?</nuxt-link>
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-solid m-2"
                  :disabled="invalid"
                >Login with Email</button>
                <nuxt-link
                  :to="{ path: '/users/login-contact'}"
                  class="btn btn-outline m-2"
                >Login with Phone</nuxt-link>
              </form>
              </ValidationObserver>
            </div>
          </div>
          <div class="col-lg-6 right-login">
            <h3>{{ registertitle }}</h3>
            <div class="theme-card authentication-right">
              <h6 class="title-font">Register</h6>
              <p>Sign up for a free account at our shop. Registration is quick and easy.</p>
              <nuxt-link
                :to="{ path: '/users/register'}"
                class="btn btn-outline m-2"
              >Register with E-mail</nuxt-link>
              <nuxt-link
                :to="{ path: '/users/login-contact'}"
                class="btn btn-outline m-2"
              >Register with Phone</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="css" scoped>
  radio-label {
    margin-left: 20px;
  }
</style>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full.esm'
import { mapState, mapGetters } from 'vuex'

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  beforeMount() {
    if(this.$store.getters['user/getLoggedIn'])
      this.$router.replace('/users/dashboard')
  },
  data() {
    return {
      email: null,
      logintitle: 'Login to your account',
      registertitle: 'New Customer',
      password: null,
    }
  },
  computed: {
    ...mapGetters({
      savedEmail: 'user/getUserMail',
      isLoggedIn: 'user/getLoggedIn',
      currentPath: 'menu/getCurrentPath',
    }),
    login_error() {
      return this.$store.getters['user/getError']
    }
  },
  methods: {
    async onSubmit() {
      try {
        await this.$store.dispatch('user/loginUserWithEmail', {
          email: this.email,
          password: this.password
        })
      } catch (error) {
        console.log("Login Component", error)
      } finally {
        if (this.login_error) {
          this.$notify({
            group: 'master',
            type: 'error',
            title: 'Error!',
            text: this.login_error
          })
        } else {
          this.$router.replace('/users/dashboard/')

          // this.$router.replace(this.currentPath)
        }
      }
    }
  }
}
</script>
