<template>
  <div>
    <section class="pwd-page section-b-space">
      <div class="container">
        <div class="row">
          <div v-if="!otp_acquired" class="col-lg-6 offset-lg-3">
            <h3>{{title}}</h3>
            <ValidationObserver v-slot="{ invalid }">
            <form class="theme-form" @submit.prevent="onContactSubmit" method="post">
              <div class="form-row">
                <div class="col-md-12">
                  <ValidationProvider rules="required|numeric|digits:11" v-slot="{ errors }" name="contact number">
                  <input
                    type="tel"
                    class="form-control"
                    id="contact_number"
                    v-model="contact_number"
                    placeholder="e.g. 01711123456"
                    name="contact_number"
                    required
                  />
                  <span class="validate-error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <button
                  type="submit"
                  class="btn btn-solid mt-2"
                  :disabled="invalid"
                >Submit</button>
                <!-- <button v-b-modal.otp-code-modal class="btn btn-solid m-3">Open Modal</button> -->
              </div>
            </form>
            </ValidationObserver>
          </div>
          <div v-else class="col-lg-6 offset-lg-3">
            <h3>{{title}}</h3>
            <p class="text-center">You have been sent a numerical code to the number you provided. Please enter the otp code to verify.</p>
            <ValidationObserver v-slot="{ invalid }">
            <form class="theme-form" @submit.prevent="onOtpSubmit" method="post">
              <div class="form-row">
                <div class="col-md-12">
                  <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="otp code">
                  <input
                    type="text"
                    name="otp_code"
                    id="otp_code"
                    v-model="otp_code"
                    class="form-control text-center"
                  />
                  <span class="validate-error">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
                <button
                  type="submit"
                  class="btn btn-solid mt-2"
                  :disabled="invalid"
                >Submit</button>
              </div>
            </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </section>
    <!-- <b-modal id="otp-code-modal" size="sm" centered :hide-footer="true" title="Enter OTP">
      <p class="text-justify">You have been sent a numerical code to the number you provided. Please enter the otp code to verify.</p>
      <ValidationObserver v-slot="{ invalid }">
      <form class="theme-form" @submit.prevent="onModalSubmit" method="post">
        <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="contact number">
        <input
          type="text"
          name="otp_code"
          id="otp_code"
          v-model="otp_code"
          class="form-control text-center"
        />
        <span class="validate-error">{{ errors[0] }}</span>
        </ValidationProvider>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-solid mt-2"
            :disabled="invalid"
          >Submit</button>
        </div>
      </form>
      </ValidationObserver>
    </b-modal> -->
  </div>
</template>

<style lang="scss" scoped>
modal-textfield-input {
  text-align: center;
}
</style>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full.esm'

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      title: 'Enter Phone Number',
      otp_acquired: false,
      contact_number: null,
      otp_code: null
    }
  },
  computed: {
    ph_register_error() {
      return this.$store.getters['user/getError']
    },
    otp_sid() {
      return this.$store.getters['user/getOtpResponse']
    }
  },
  methods: {
    async onContactSubmit() {
      try {
        const payload = {
          contact_number: '+88'+this.contact_number.trim(),
        }
        console.log('Contact has been submitted!')
        try {
          await this.$store.dispatch('user/verifyUserWithPhone', payload)
          if (this.ph_register_error) {
            this.$notify({
              group: 'master',
              type: 'error',
              title: 'Error!',
              text: this.ph_register_error
            })
          } else {
            this.title = "Enter OTP Code"
            this.otp_acquired = true
          }
        } catch (error) {
          console.log(error)
        }
      } catch (error) {
        console.log("Phone Registration component", error)
      } finally {
        if (this.ph_register_error) {
          this.$notify({
            group: 'master',
            type: 'error',
            title: 'Error!',
            text: this.ph_register_error
          })
        }
      }
    },
    async onOtpSubmit() {
      console.log("OTP submit HIT")
      try {
        const payload = {
          otp_code: this.otp_code.trim(),
          sender_id: this.otp_sid,
        }
        console.log('OTP Code has been submitted!')
        await this.$store.dispatch('user/loginRegisterUserWithPhone', payload)
      } catch (error) {
        console.log("Phone Registration component", error)
      } finally {
        if (this.ph_register_error) {
          this.$notify({
            group: 'master',
            type: 'error',
            title: 'Error!',
            text: this.ph_register_error
          })
        } else {
          this.$router.replace('/users/dashboard')
        }
      }
    }
  }
}
</script>
