<template>
  <div>
    <section class="contact-page register-page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <h3 class="col-sm-8">{{title1}}</h3>
              <!-- <nuxt-link class="btn btn-outline col-sm-4" :to="{ path: '/users/dashboard' }">back to dashboard</nuxt-link> -->
            </div>
            <form class="theme-form" @submit.prevent="checkForm1" method="post">
              <div v-if="errors.length">
                  <ul class="validation-error mb-3">
                    <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                  </ul>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <label for="fname">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    v-model="personalInfo.first_name"
                    placeholder="eg. John"
                    name="fname"
                  />
                </div>
                <div class="col-md-6">
                  <label for="mail">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    v-model="personalInfo.last_name"
                    placeholder="eg. Doe"
                    name="lname"
                  />
                </div>
                <div class="col-md-6">
                  <label for="lname">Contact Number</label>
                  <!-- <input
                    type="tel"
                    class="form-control"
                    id="contact"
                    v-model="personalInfo.contact_number"
                    placeholder="Your Contact Number"
                    name="contact"
                  /> -->
                  <div class="pt-3">
                    <p>{{ personalInfo.contact_number }}<nuxt-link class="btn btn-outline btn-sm ml-5" :to="{ path: '/users/login-contact'}">{{ personalInfo.contact_number === '' ? 'Add Number' : 'Change'}}</nuxt-link></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="phone">Date Of Birth</label>
                  <input
                    type="date"
                    class="form-control"
                    :max="dob_max_date"
                    id="dob"
                    onkeydown="return false"
                    v-model="personalInfo.date_of_birth"
                    placeholder="Your Birth Date"
                    name="phone"
                  />
                </div>
                <div class="col-md-12">
                  <label for="address">Address</label>
                  <textarea
                    class="form-control"
                    placeholder="Your Home Address"
                    id="address"
                    v-model="personalInfo.address"
                    name="address"
                    rows="6"
                  ></textarea>
                </div>
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-solid pull-right"
                  >
                  Save Details
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Section ends -->

    <!-- address section start -->
    <section class="contact-page register-page section-b-space" id="business-address">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3>{{title2}}</h3>
            <form class="theme-form" @submit.prevent="checkForm2" method="post">
              <div class="row">
                <div class="col-md-6">
                  <label for="name">Address *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    v-model="billingInfo.address"
                    placeholder="Street / Road Number"
                  />
                </div>
                <div class="col-md-6">
                  <label for="name">City *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    v-model="billingInfo.city"
                    placeholder="eg. Dhaka"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email">Zip Code *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zip-code"
                    v-model="billingInfo.postcode"
                    placeholder="eg. 1212"
                  />
                </div>
                <div class="col-md-6">
                  <label for="review">Contact *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="region-state"
                    v-model="billingInfo.contact"
                    placeholder="eg. +8801234567890"
                  />
                </div>
                <div class="col-md-12">
                  <label for="review">Country *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="country"
                    v-model="billingInfo.country"
                    placeholder="eg. Bangladesh"
                  />
                </div>
                <div class="col-md-12">
                  <button class="btn btn-solid pull-right" type="submit">Save Address</button>
                  <nuxt-link class="btn btn-outline" :to="{ path: '/users/dashboard'}">Go to dashboard</nuxt-link>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Section ends -->
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  beforeMount() {
    this.$store.dispatch('user/fetchPersonalInfo')
    this.$store.dispatch('user/fetchBillingInfo')
  },
  middleware: 'authenticated',
  data() {
    return {
      title1: 'personal detail',
      title2: 'billing address',
      errors: []
    }
  },
  computed: {
    ...mapGetters({
      personalInfo: 'user/getPersonalInfo',
      billingInfo: 'user/getBillingInfo',
      redirectPath: 'menu/getCurrentPath'
    }),
    full_name() {
      return (this.personalInfo.first_name + ' ' + this.personalInfo.last_name).trim()
    },
    dob_max_date() {
      var max_date = new Date()
      max_date.setFullYear(max_date.getFullYear() - 13)
      return max_date.toISOString().split("T")[0]
    }
  },
  methods: {
    checkForm1: function (e) {
      this.$store.dispatch('user/updatePersonalInfo', {
        full_name: this.full_name,
        date_of_birth: this.personalInfo.date_of_birth,
        contact_number: this.personalInfo.contact_number,
        address: this.personalInfo.address
      })
      this.$notify({
          group: 'master',
          type: 'success',
          title: 'Saved!',
          text: 'Profile details saved!'
      })
      this.$router.replace(this.redirectPath)
    },
    checkForm2: function (e) {
      this.$store.dispatch('user/updateBillingInfo', this.billingInfo)
      this.$notify({
          group: 'master',
          type: 'success',
          title: 'Saved!',
          text: 'Billing address saved!'
      })
      this.$router.replace(this.redirectPath)
    }
  }
}
</script>
