<template>
<div>
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>{{title}}</h3>
                    <div class="theme-card">
                        <ValidationObserver v-slot="{ invalid }">
                            <form class="theme-form" @submit.prevent="onSubmit">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="fname">Full Name</label>
                                        <ValidationProvider rules="alpha_spaces|required" v-slot="{ errors }" name="full name">
                                            <input type="text" class="form-control" id="fname" v-model="fname" placeholder="Full Name" name="fname" />
                                            <span class="validate-error">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email">Email</label>
                                        <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                                            <input type="email" class="form-control" id="email" v-model="email" placeholder="Email" name="email" />
                                            <span class="validate-error">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="password">Password</label>
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="password">
                                            <input type="password" class="form-control" id="password" v-model="password" placeholder="Enter your password" name="password" />
                                            <span class="validate-error">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Confirm Password">Confirm Password</label>
                                        <ValidationProvider rules="required" v-slot="{ errors }" name="confirm password">
                                            <input type="password" class="form-control" id="Confirm Password" v-model="password2" placeholder="Re-enter your password" name="Confirm Password" />
                                            <span class="validate-error">{{ errors[0] }}</span>
                                        </ValidationProvider>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="hint-list">Password Requirements</label>
                                        <ol class="list-group" id="hint-list">
                                            <li class="list-group-item" v-for="(hint, index) in passHints" :key="index">{{ (index + 1) +'. '+ hint }}</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="form-row mt-3">
                                    <button type="submit" class="btn btn-solid mt-2" :disabled="invalid">create account</button>
                                </div>
                            </form>
                        </ValidationObserver>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<style lang="scss" scoped>
.list-group-item {
    border: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 300;
    color: gray;
}
</style>

<script>
import {
    ValidationProvider,
    ValidationObserver
} from 'vee-validate/dist/vee-validate.full.esm'
export default {
    components: {
        ValidationProvider,
        ValidationObserver
    },
    data() {
        return {
            title: 'create an account',
            fname: null,
            contact: null,
            email: null,
            password: null,
            password2: null,
            showHint: false,
            passHints: [
                'Must contain at least 8 characters.',
                'Can’t be entirely numeric.',
                'Can’t be too similar to your other personal information.',
                'Can’t be a commonly used password.',
            ]
        }
    },
    computed: {
        register_error() {
            return this.$store.getters['user/getError']
        }
    },
    methods: {
        async onSubmit() {
            try {
                const payload = {
                    email: this.email,
                    password1: this.password,
                    password2: this.password,
                    full_name: this.fname
                }
                console.log('Form has been submitted!')
                await this.$store.dispatch('user/registerUserWithEmail', payload)
            } catch (error) {
                console.log("Registration component", error)
            } finally {
                if (this.register_error) {
                    this.$notify({
                        group: 'master',
                        type: 'error',
                        title: 'Error!',
                        text: this.register_error
                    })
                } else {
                    this.$router.replace('/users/dashboard')
                }
            }
        }
    }
}
</script>
