<template>
  <div class="box-parent">
    <div class="img-wrapper">
      <div class="lable-block">
        <span class="lable3" v-if="product.area_discount !== null">{{ parseFloat(product.area_discount.discount_rate) }}% Off</span>
        <span class="lable4" v-if="product.total_products === 0">out of stock</span>
      </div>
      <div class="front">
        <nuxt-link :to="{ path: '/shop/product/'+product.tag}">
          <img
            :src="product.image"
            :id="product.id"
            class="img-fluid bg-img"
            :alt="product.name"
            :key="index"
          />
        </nuxt-link>
      </div>
      <ul class="product-thumb-list">
        <li
          class="grid_thumb_img"
          :class="{active: product.types.length > 0 ? true : false}"
          v-for="(type,index) in product.types"
          :key="index"
        >
          <a href="javascript:void(0);">
            <img :src="type.image" />
          </a>
        </li>
      </ul>
      <!-- <div class="cart-info cart-wrap">
          <button
            data-toggle="modal"
            data-target="#addtocart"
            title="Add to cart"
            @click="addToCart(product)"
            v-b-modal.modal-cart
            variant="primary"
          >
            <i class="ti-shopping-cart"></i>
          </button>
        <a href="javascript:void(0)" title="Wishlist">
          <i class="ti-heart" aria-hidden="true" @click="addToWishlist(product)"></i>
        </a>
        <a href="javascript:void(0)" title="Quick View" @click="showQuickview(product)" v-b-modal.modal-lg variant="primary">
          <i class="ti-search" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)" title="Comapre" @click="addToCompare(product)" v-b-modal.modal-compare variant="primary">
          <i class="ti-reload" aria-hidden="true"></i>
        </a>
      </div> -->
    </div>
    <div class="product-detail">
      <div class="rating">
        <!-- <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i> -->
      </div>
      <nuxt-link :to="{ path: '/shop/product/' + product.tag}">
        <h4>{{ product.name }} <sup> | {{ product.address }}</sup></h4>
      </nuxt-link>
      <h6 class="desc-header">{{ product.area_name }}, {{ product.zone_name }}</h6>
      <h6 class="mt-2"> {{ product.total_products + (product.total_products !== 1 ? ' products' : ' product') }} </h6>
      <h6 class="desc-header">Product Types:</h6>
      <h6 class="desc-header">{{ cdescription }}</h6>
    </div>
  </div>
</template>

<style lang="scss" scoped>
h4 span {
  color: gray;
  font-size: .8em;
}
.desc-header {
  white-space: pre;
  font-size: 90% !important;
}
sup {
    vertical-align: sub;
    font-size: 65%;
}
.img-fluid {
  padding: 3em;
}
.box-parent {
  border: 1pt solid #dddddd;
  border-radius: 1em;
  padding: 3pt;
}

.lable4 {
  color: #ec3850;
}
</style>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  props: ['product', 'index'],
  data() {
    return {
      imageSrc: '',
      quickviewProduct: {},
      compareProduct: {},
      cartProduct: {},
      showquickview: false,
      showCompareModal: false,
      cartval: false,
      variants: {
        productId: '',
        image: ''
      },
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  computed: {
    ...mapState({
      productslist: state => state.products.productslist
    }),
    ...mapGetters({
      curr: 'products/changeCurrency'
    }),
    cdescription() {
      if(this.product.types.length === 0)
        return ''
      var text = ""
      for(const [i, type] of this.product.types.entries()) {
        text += (i+1) + '. ' + type.name + " " + type.product_class + "\r\n"
      }
      return text
    }
  },
  methods: {
    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },
    addToCart: function (product) {
      this.cartval = true
      this.cartProduct = product
      this.$emit('opencartmodel', this.cartval, this.cartProduct)
      this.$store.dispatch('cart/addToCart', product)
    },
    addToWishlist: function (product) {
      this.dismissCountDown = this.dismissSecs
      this.$emit('showalert', this.dismissCountDown)
      this.$store.dispatch('products/addToWishlist', product)
    },
    showQuickview: function (productData) {
      this.showquickview = true
      this.quickviewProduct = productData
      this.$emit('openquickview', this.showquickview, this.quickviewProduct)
    },
    addToCompare: function (product) {
      this.showCompareModal = true
      this.compareProduct = product
      this.$emit('showCompareModal', this.showCompareModal, this.compareProduct)
      this.$store.dispatch('products/addToCompare', product)
    },
    Color(variants) {
      const uniqColor = []
      for (let i = 0; i < Object.keys(variants).length; i++) {
        if (uniqColor.indexOf(variants[i].color) === -1) {
          uniqColor.push(variants[i].color)
        }
      }
      return uniqColor
    },
    productColorchange(color, product) {
      product.variants.map((item) => {
        if (item.color === color) {
          product.images.map((img) => {
            if (img.image_id === item.image_id) {
              this.imageSrc = img.src
            }
          })
        }
      })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
      this.$emit('alertseconds', this.dismissCountDown)
    },
    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    }
  }
}
</script>
