<template>
  <div>
    <div class="img-wrapper">
      <div class="front">
        <a href="javascript:void(0)"
          title="Quick View"
          @click="showQuickview(product)"
          v-b-modal.modal-lg
          variant="primary">
          <img
            :src="product.image"
            :id="product.id"
            class="img-fluid bg-img"
            :alt="product.name"
            :key="index"
          />
        </a>
      </div>
    </div>
    <div class="product-detail">
      <a href="javascript:void(0)"
        title="Quick View"
        @click="showQuickview(product)"
        v-b-modal.modal-lg
        variant="primary">
        <span class="product-type">{{ product.product_class }} | {{ product.size }}</span>
        <h6>{{ product.name }}</h6>
      </a>
      <h4>৳ {{ product.unit_price }}</h4>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.product-type {
  text-align: center;
  color: #ec3850;
}
</style>
<script>
import { mapState, mapGetters } from 'vuex'
export default {
  props: ['product', 'index'],
  data() {
    return {
      quickviewProduct: {},
      compareProduct: {},
      showquickview: false,
      showCompareModal: false,
      cartval: false,
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  methods: {
    showQuickview: function (productData) {
      this.showquickview = true
      this.quickviewProduct = productData
      this.$emit('openquickview', this.showquickview, this.quickviewProduct)
    },
  }
}
</script>
