<template>
  <div>
    <footer class="footer-light">
      <!-- <div class="light-layout">
        <div class="container">
          <section class="small-section border-section border-top-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="subscribe">
                  <div>
                    <h4>KNOW IT ALL FIRST!</h4>
                    <p>Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <form
                  class="form-inline subscribe-form auth-form needs-validation"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  target="_blank"
                >
                  <div class="form-group mx-sm-3">
                    <input
                      type="text"
                      class="form-control"
                      name="EMAIL"
                      id="mce-EMAIL"
                      placeholder="Enter your email"
                      required="required"
                    />
                  </div>
                  <button type="submit" class="btn btn-solid" id="mc-submit">subscribe</button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div> -->
      <section class="section-b-space light-layout">
        <div class="container">
          <div class="row footer-theme partition-f">
            <div class="col-lg-4 col-md-6">
              <div class="footer-title footer-mobile-title">
                <h4>about</h4>
              </div>
              <div class="footer-contant">
                <p class="company-desc">{{ contact.company_desc }}</p>
                <div class="footer-social">
                  <ul>
                    <li v-if="isValidUrl(contact.fb_link)">
                      <a :href="contact.fb_link">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li v-if="isValidUrl(contact.twitter_link)">
                      <a :href="contact.twitter_link">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li v-if="isValidUrl(contact.yt_link)">
                      <a :href="contact.yt_link">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li v-if="isValidUrl(contact.insta_link)">
                      <a :href="contact.insta_link">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li v-if="isValidUrl(contact.linkedin_link)">
                      <a :href="contact.linkedin_link">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col offset-xl-1">
              <div class="sub-title">
                <div class="footer-title">
                  <h4>my account</h4>
                </div>
                <div class="footer-contant">
                  <ul>
                    <li>
                      <nuxt-link :to="{ path: '/users/dashboard' }">Dashboard</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/users/cart/' }">Visit Your Cart</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/users/cart/dispenses/' }">Dispense Product</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/users/forget-password' }">Forgot Password</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/terms-of-use' }">Terms of Use</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/privacy-policy' }">Privacy Policy</nuxt-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="sub-title">
                <div class="footer-title">
                  <h4>explore</h4>
                </div>
                <div class="footer-contant">
                  <ul>
                    <li>
                      <nuxt-link :to="{ path: '/shop/vending-machines' }">Vending Machines</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/contact' }">Contacts</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/faq' }">FAQs</nuxt-link>
                    </li>
                    <li>
                      <a href="https://www.vertical-innovations.com/blog-2-2/">Blog</a>
                    </li>
                    <li>
                      <a href="https://www.vertical-innovations.com/#aboutus">About Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="sub-title">
                <div class="footer-title">
                  <h4>store information</h4>
                </div>
                <div class="footer-contant">
                  <ul class="contact-list">
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <p>{{ contact.address }}</p>
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>Call Us: {{ hotline }}
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>Mail Us:
                      <a :href="mailLink">drop us a mail</a>
                    </li>
                    <li v-if="contact.fax !== ''">
                      <i class="fa fa-fax"></i>Fax: {{ contact.fax }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12">
              <div class="footer-end">
                <p>
                  <i class="fa fa-copyright" aria-hidden="true"></i> 2020 Vertical Innovations
                </p>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
              <div class="payment-card-bottom">
                <ul>
                  <li>
                    <p>
                      <a class="pl-2" target="_blank" href="https://www.sslcommerz.com/">
                        <!-- <img :src='"@/assets/images/icon/sslcommerz.png"' alt="sslcommerz" /> -->
                        <img class="footer-branding" src="https://securepay.sslcommerz.com/public/image/SSLCommerz-Pay-With-logo-All-Size-01.png" alt="sslcommerz" />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <TapTop/>
  </div>
</template>

<style lang="scss" scoped>
.contact-list p {
  white-space: pre;
}
.company-desc {
  text-align: justify;
}
.footer-branding {
  height: 45px;
}

@media only screen and (max-width: 320px) {
  .footer-branding {
    height: 25px;
  }
}
@media only screen and (max-width: 360px) {
  .footer-branding {
    height: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .footer-branding {
    height: 50px;
  }
}
@media only screen and (max-width: 411px) {
  .footer-branding {
    height: 55px;
  }
}
</style>

<script>
import TapTop from '../widgets/tap-to-top'
import { mapState, mapGetters } from 'vuex'

export default {
  components: {
    TapTop
  },
  async asyncData({store}) {
    await store.dispatch('shop/fetchShopContact')
  },
  computed: {
    ...mapGetters({
      contact: 'shop/getContact',
      hotline: 'shop/getFooterHotline'
    }),
    mailLink() {
      return "mailto:" + this.contact.mail
    }
  },
  methods: {
    isValidUrl(url) {
      var validUrl = require('valid-url')
      return validUrl.isUri(url) ? true : false
    }
  }
}
</script>
