<template>
<div>
    <notifications group="master" type="success" position="top right" :animation="notiAnimation" />
    <Header v-if="headerVisible" />
    <nuxt />
    <Footer v-if="footerVisible" />
    <!-- <layoutSetting v-if="this.$route.name !== 'home'" /> -->
</div>
</template>
<style lang="scss">
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
</style>
<script>
import layoutSetting from '../components/widgets/layout-setting'
import Header from '../components/header/header1'
import Footer from '../components/footer/footer1'
import {
    mapState
} from 'vuex'

export default {
    components: {
        layoutSetting,
        Header,
        Footer
    },
    async beforeMount() {
        await this.onInitSite()
    },
    mounted() {
        // START - caching & messaging supprt for offline
        this.$on('offline', () => {
            this.$notify({
                group: 'master',
                type: 'error',
                title: 'No Internet!',
                text: 'You are offline. Some functionalities might not work until you\'re online'
            })
        })
        this.$on('online', async () => {
            this.$notify({
                group: 'master',
                type: 'info',
                title: 'Syncing...',
                text: 'You are online again. Site is reloading data...'
            })
            await this.onInitSite()
            this.$notify({
                group: 'master',
                type: 'success',
                title: 'Synced!',
                text: 'Site functionality returned to normal'
            })
        })
        // END - caching & messaging supprt for offline

        // NUXT Loader
        this.$nextTick(() => {
            this.$nuxt.$loading.start()
            setTimeout(() => this.$nuxt.$loading.finish(), 3000)
        })
    },
    data() {
        return {
            notiAnimation: {
                enter: {
                    opacity: [1, 0]
                },
                leave: {
                    opacity: [0, 1]
                },
            },
            logo: require('@/assets/images/vil_header_logo.png')
        }
    },
    computed: {
        ...mapState({
            headerVisible: state => state.menu.showHeader,
            footerVisible: state => state.menu.showFooter,
            loggedIn: state => state.user.isLoggedIn,
        }),
    },
    head() {
        return {
            title: 'Shop | Vertical Innovations',
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Vertical Innovation Shop'
                },
                {
                    hid: 'og:image',
                    property: 'og:image',
                    content: require('@/assets/images/vil_header_logo.png'),
                }
            ]
        }
    },
    methods: {
        async onInitSite() {
            await this.syncServerLoad()
            if (this.loggedIn) {
                await this.syncLoggedUser()
            }
        },
        async syncServerLoad() {
            await this.$store.dispatch('shop/fetchSpaManagementParams')
            await this.$store.dispatch('shop/fetchShopContact')
            await this.$store.dispatch('shop/fetchAdContent')
            await this.$store.dispatch('shop/fetchHomeContent')
        },
        async syncLoggedUser() {
            await this.$store.dispatch('user/piggybackLoggedUserdata')
        }
    }
}
</script>
