<template>
<div>
    <div id="invoice">
        <div class="toolbar hidden-print">
            <!-- <h2 class="p-0 m-0">Invoice</h2> -->
            <div class="text-lg-right text-sm-left">
                <button @click="printInvoice" class="btn btn-outline"><i class="fa fa-print"></i> Print</button>
            </div>
            <hr>
        </div>
        <div class="invoice overflow-auto" ref="printSurface">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col">
                            <a target="_blank">
                                <img :src='"@/assets/images/VIL_Logo_2.png"' data-holder-rendered="true" />
                            </a>
                        </div>
                        <div class="col company-details">
                            <div v-for="(part, index) in contactParts" :key="index">{{ part }}</div>
                            <div>{{ contact.mail }}</div>
                            <div v-for="obj in hotlines" :key="obj.id">{{ obj.phone_number }}</div>
                        </div>
                    </div>
                </header>
                <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            <h2 class="to">{{ personalInfo.first_name }} {{ personalInfo.last_name }}</h2>
                            <div class="address">{{ personalInfo.address }}</div>
                            <div class="email">{{ personalInfo.email }}</div>
                            <div class="email">{{ personalInfo.contact_number }}</div>
                        </div>
                        <div class="col invoice-details">
                            <div class="date">Invoice ID: <strong class="invoice-id">{{ dispense.invoice.id }}</strong></div>
                            <div class="date">Dispense Unit: {{ dispense.invoice.ru_name }}</div>
                            <div class="date">Location : {{ dispense.invoice.ru_address }}</div>
                            <div class="date">Checkout Date: {{ parseDateString(dispense.tran_date) }}</div>
                            <div v-if="dispense.invoice.expiry_date" class="date">Dispensable Until: {{ parseDateString(dispense.invoice.expiry_date) }}</div>
                            <!-- <div class="date">Invoice Printed: {{ parseDateString(new Date()) }}</div> -->
                        </div>
                    </div>
                    <table v-if="dispense.items.length" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-left">Product</th>
                                <th class="text-right">Unit Price</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in dispense.items" :key="index + 1">
                                <td class="no">{{ index + 1 }}</td>
                                <td class="text-left">
                                    <h3>{{ item.brand }}</h3>
                                    {{ item.pclass }}, {{ item.size }}
                                </td>
                                <td class="unit">৳ {{ isRfid ? 'N/A' : parseFloat(item.price).toFixed(2) }}</td>
                                <td class="qty">{{ item.qty }}</td>
                                <td class="total">৳ {{ isRfid ? parseFloat(0).toFixed(2) : parseFloat(item.total).toFixed(2) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr v-if="!isRfid">
                                <td colspan="2"></td>
                                <td colspan="2">SUBTOTAL</td>
                                <td>৳ {{ parseFloat(dispense.invoice.base_total).toFixed(2) }}</td>
                            </tr>
                            <tr v-if="!isRfid && hasDiscount">
                                <td colspan="2"></td>
                                <td colspan="2">{{ hasCompanyDiscount ? parseFloat(dispense.invoice.discount_rate) : parseFloat(dispense.invoice.area_discount_rate)}}% off for {{ hasCompanyDiscount ? dispense.invoice.discount_company : dispense.invoice.ru_area }} {{ hasAreaDiscount ? ' area' : ''}}</td>
                                <td>৳ {{ parseFloat(dispense.invoice.discount_amount).toFixed(2) }}</td>
                            </tr>
                            <tr v-if="!isRfid && hasDiscount">
                                <td colspan="2"></td>
                                <td colspan="2">Discounted price</td>
                                <td>৳ {{ discounted_total() }}</td>
                            </tr>
                            <tr v-if="!isRfid">
                                <td colspan="2"></td>
                                <td colspan="2">{{ parseFloat(dispense.invoice.bank_transaction_fee_percentage) }}% Transaction Fee</td>
                                <td>৳ {{ tr_fee() }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2">GRAND TOTAL</td>
                                <td>৳ {{ isRfid ? parseFloat(0).toFixed(2) : parseFloat(dispense.invoice.tax_total).toFixed(2) }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div v-if="!isRfid" class="thanks">{{ dispense.status }}</div>
                    <div class="notices">
                        <!-- <div>BILLING INFO:</div>
                        <div class="notice">ID : <strong>{{ dispense.id }}</strong></div> -->
                        <div class="notice">Gateway : <strong>{{ dispense.gateway }}</strong></div>
                        <div class="notice" v-if="dispense.provider !== ''">Provider : <strong>{{ dispense.provider }}</strong></div>
                        <div class="notice" v-if="dispense.card_issuer !== ''">Card Issuer : <strong>{{ dispense.card_issuer }}</strong></div>
                        <div class="notice" v-if="dispense.card_brand !== ''">Card Brand : <strong>{{ dispense.card_brand }}</strong></div>
                        <div class="notice" v-if="dispense.card_number !== ''">Card Number : <strong>{{ dispense.card_number }}</strong></div>
                    </div>
                </main>
                <footer>
                    Invoice was created on a computer and is valid without the signature and seal.
                </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>
</div>
</template>

<style lang="css" scoped>
#invoice {
    padding: 30px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #ec3850
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #ec3850
}

.invoice main .notices .notice {
    font-size: 1.2em;
    white-space: pre;
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,
.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: black;
    font-size: 1.2em
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    font-size: 1.6em;
    background: #ddd
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #ddd;
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #ec3850;
    font-size: 1.4em;
    border-top: 1px solid #aaa;
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

@media print {
    .hidden-print {
        display: none;
    }

    .invoice {
        font-size: 11px !important;
        overflow: hidden !important;
        width: 210mm;
        height: 297mm;
        margin: 30mm;
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

    .invoice>div:last-child {
        page-break-before: always
    }
}
</style>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'

export default {
    middleware: 'authenticated',
    // layout (context) {
    //     return 'plain'
    // },
    async asyncData({
        $axios,
        route,
    }) {
        if (route.params.slug) {
            try {
                const params = {
                    tran_id: route.params.slug
                }
                console.log('payload', params)
                const prdata = await $axios.get('/api/transactions/ssl/dispenses/invoice/', {
                    params
                })
                console.log(prdata)
                return {
                    dispense: prdata['data']['dispense']
                }
            } catch (error) {
                console.log(error)
                return {
                    error: error
                }
            }
        } else {
            console.log("No slug!")
        }
    },
    head() {
        return {
            title: 'Invoice | ' + 'VIL-' + this.dispense.invoice.id + '-' + this.parseDateString(new Date()),
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Print Invoice'
                }
            ]
        }
    },
    beforeMount() {
        // console.log(this.$route.params)
        if (!this.$route.params.slug) {
            this.$router.replace('/users/cart/dispenses/')
        }
        this.$store.dispatch('menu/switchLayoutMode')
    },
    mounted() {
        if (this.error) {
            this.$router.replace('/err')
        }
    },
    destroyed() {
        this.$store.dispatch('menu/switchLayoutMode')
    },
    computed: {
        ...mapGetters({
            contact: 'shop/getContact',
            hotlines: 'shop/getHotlines',
            personalInfo: 'user/getPersonalInfo',
            billingInfo: 'user/getBillingInfo',
        }),
        contactParts() {
            return this.contact.address ? this.contact.address.split("\n") : []
        },
        isRfid() {
            return this.dispense.gateway === 'RFID'
        },
        hasCompanyDiscount() {
            if (this.dispense) {
                if (this.dispense.invoice.discount_applied) {
                    return true
                }
                return false
            }
            return false
        },
        hasAreaDiscount() {
            if (this.dispense) {
                if (this.hasCompanyDiscount) {
                    return false
                }
                if (this.dispense.invoice.area_discount_applied) {
                    return true
                }
                return false
            }
            return false
        },
        hasDiscount() {
            return this.hasCompanyDiscount || this.hasAreaDiscount
        }
    },
    methods: {
        parseDateString(date) {
            return this.$moment(date).format('DD.MM.YYYY h:mm A')
        },
        discounted_total() {
            if (this.dispense.invoice.discount_applied || this.dispense.invoice.area_discount_applied) {
                return parseFloat(this.dispense.invoice.base_total - this.dispense.invoice.discount_amount).toFixed(2)
            }
            return this.dispense.invoice.base_total
        },
        tr_fee() {
            if (this.dispense) {
                const amount = this.discounted_total() * (parseFloat(this.dispense.invoice.bank_transaction_fee_percentage) / 100)
                return amount.toFixed(2)
            }
            return 0
        },
        printInvoice() {
            window.print();
        },
    }
}
</script>
