<template>
<div>
    <section class="contact-page section-b-space">
        <div class="container">
            <div class="row section-b-space">
                <div class="col-lg-7 map" v-bind:style="{ 'background-image': `url(${loaderPath}) center center no-repeat` }">
                    <iframe :src="contact.map_iframe_link" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <div class="contact-right">
                        <ul>
                            <li>
                                <div class="contact-icon">
                                    <img :src="phoneimage" alt="Generic placeholder image" />
                                    <h6>Contact Us</h6>
                                </div>
                                <div class="media-body">
                                    <p v-for="hotline in hotlines" :key="hotline.id">{{hotline.phone_number}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                    <p class="vertical-address">{{ contact.address }}</p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-icon">
                                    <img :src="emailimage" alt="Generic placeholder image" />
                                    <h6>Email</h6>
                                </div>
                                <div class="media-body">
                                    <p>{{ contact.mail }}</p>
                                </div>
                            </li>
                            <li v-if="contact.fax !== ''">
                                <div class="contact-icon">
                                    <i class="fa fa-fax" aria-hidden="true"></i>
                                    <h6>Fax</h6>
                                </div>
                                <div class="media-body">
                                    <p>{{ contact.fax }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row section-b-space" id="ratingshare">
                <div class="col-lg-7">
                    <!-- <a name="rating"></a> -->
                    <h3 class="mb-4">Give us a rating</h3>
                    <b-form-rating class="mb-4" v-model="rating" color="#ec3850" show-value show-value-max @change="handleRatingChange"></b-form-rating>
                </div>
                <div class="col-lg-5">
                    <h3 class="mb-4">Share with Friends</h3>
                    <social-sharing url="https://shop.vertical-innovations.com/" title="Shop | Vertical Innovations" :description="contact.company_desc" :quote="contact.company_desc" hashtags="vertical_innovations, iot" twitter-user="vertical_innovations" inline-template>
                        <div>
                            <network network="facebook">
                                <button class="btn"><i class="fa fa-facebook"></i></button>
                            </network>
                            <network network="twitter">
                                <button class="btn"><i class="fa fa-twitter"></i></button>
                            </network>
                            <network network="whatsapp">
                                <button class="btn"><i class="fa fa-whatsapp"></i></button>
                            </network>
                            <network network="linkedin">
                                <button class="btn"><i class="fa fa-linkedin"></i></button>
                            </network>
                            <network network="skype">
                                <button class="btn"><i class="fa fa-skype"></i></button>
                            </network>
                            <network network="pinterest">
                                <button class="btn"><i class="fa fa-pinterest"></i></button>
                            </network>
                        </div>
                    </social-sharing>
                </div>
            </div>
            <h3 class="mb-4">Leave a Review</h3>
            <div class="row">
                <div class="col-sm-12">
                    <ValidationObserver v-slot="{ invalid }">
                        <form class="theme-form" @submit.prevent="submitReview" method="post">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="contact">Email / Contact Number</label>
                                    <ValidationProvider rules="required" v-slot="{ errors }" name="contact">
                                        <input type="text" class="form-control" id="contact" v-model="usercontact" placeholder="Enter email address or phone number" name="contact" required />
                                        <span class="validate-error">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="col-md-12">
                                    <label for="message">Write Message</label>
                                    <ValidationProvider rules="required" v-slot="{ errors }" name="message">
                                        <textarea class="form-control" placeholder="Write your message here..." id="message" v-model="message" name="message" rows="6"></textarea>
                                        <span class="validate-error">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-solid" :disabled="invalid" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </ValidationObserver>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<style lang="scss" scoped>
.vertical-address {
    white-space: pre;
}
</style>

<script>
import {
    mapState,
    mapGetters
} from 'vuex'
import {
    ValidationProvider,
    ValidationObserver
} from 'vee-validate/dist/vee-validate.full.esm'

export default {
    components: {
        ValidationProvider,
        ValidationObserver
    },
    data() {
        return {
            loaderPath: require('@/assets/images/loader.gif'),
            phoneimage: require('@/assets/images/icon/phone.png'),
            emailimage: require('@/assets/images/icon/email.png'),
            usercontact: null,
            message: null
        }
    },
    head() {
        return {
            title: 'Contact | Vertical Innovations',
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Vertical Innovation\'s Contacts'
                }
            ]
        }
    },
    async asyncData({
        store
    }) {
        await store.dispatch('shop/fetchShopContact')
        await store.dispatch('user/fetchLikeRating')
    },
    computed: {
        ...mapState({
            isLoggedIn: state => state.user.isLoggedIn,
            rating: state => state.user.rating
        }),
        ...mapGetters({
            contact: 'shop/getContact',
            hotlines: 'shop/getHotlines',
        })
    },
    methods: {
        async handleRatingChange(value) {
            if (this.isLoggedIn) {
                console.log('changed rating', value)
                await this.updateRatingForUser(value)
            } else {
                this.$router.replace('/users/login')
            }
        },
        async updateRatingForUser(value) {
            try {
                const payload = {
                    rating: value
                }
                console.log('Rating has been submitted!')
                await this.$store.dispatch('user/updateRating', payload)
            } catch (error) {
                console.log("Contact component", error)
            } finally {
                this.$notify({
                    group: 'master',
                    type: 'success',
                    title: 'Rating Received',
                    text: 'Thanks for your rating!'
                })
            }
        },
        validMailContactField() {
            var isMail, isPhone = false
            const mailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
            const phoneFormat = /\d{11}/
            if (this.usercontact.match(mailFormat)) {
                isMail = true
            }
            if (this.usercontact.match(phoneFormat)) {
                isPhone = true
            }

            return isMail || isPhone
        },
        async submitReview() {
            //check for valid email / phone_number
            // if (!this.validMailContactField()) {
            //     this.$notify({
            //         group: 'master',
            //         type: 'error',
            //         title: 'Invalid Contact!',
            //         text: 'Your mail/phone number is invalid!'
            //     })
            //     return
            // }
            try {
                const payload = {
                    contact: this.usercontact,
                    review: this.message
                }
                console.log('Review has been submitted!')
                await this.$store.dispatch('shop/postReview', payload)
            } catch (error) {
                console.log("Contact component", error)
            } finally {
                this.$notify({
                    group: 'master',
                    type: 'success',
                    title: 'Submitted!',
                    text: 'Your review has been sent!'
                })
                // this.usercontact = null
                // this.message = null
            }
        }
    }
}
</script>
