<template>
  <div>
    <section class="faq-section section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="mb-4 mt-2">Frequently Asked Questions</h2>
            <div class="accordion theme-accordion" id="accordionExample">
              <b-card no-body class="mb-1" v-for="(faq, index) in faqs" :key="index">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-button class="faq-question" block href="#" v-b-toggle="'accordion-' + index" variant="info">{{faq.question}}</b-button>
                </b-card-header>
                <b-collapse :id="'accordion-' + index" visible accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                    <b-card-text>
                      <p>{{faq.answer}}</p>
                    </b-card-text>
                  </b-card-body>
                </b-collapse>
              </b-card>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.faq-question {
  text-transform: none;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  async asyncData({store}){
    await store.dispatch('shop/fetchShopFaqs')
  },
  computed: {
    ...mapGetters({
      faqs: 'shop/getFaqs'
    })
  }
}
</script>
