<template>
  <div>
    <!-- <UserDashboard v-if="loggedIn"/>
    <UserLogin v-else/> -->
    <Shop />
  </div>
</template>

<script>
const UserDashboard = () => import('./users/dashboard')
const UserLogin = () => import('./users/login')
const Shop = () => import('./shop/index')
import { mapState } from 'vuex'

export default {
  components: {
    Shop,
  },
  // async asyncData({store}) {
  //   await store.dispatch('shop/fetchShopContact')
  // },
  // computed: {
  //   ...mapState({
  //     loggedIn: state => state.user.isLoggedIn
  //   }),
  // },
  // beforeMount() {
  //   console.log('Before Mounted Index')
  // },
}
</script>
