<template>
  <div>
    <section class="faq-section section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="mb-4 mt-2">Terms of Use</h2>
            <p class="mt-3 mb-3 text-justify" v-html="spaParams.terms"></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      spaParams: 'shop/getSpaManagementParams'
    })
  }
}
</script>
